.charts-conatiner {
    width: calc(100% - 100px);
    padding: 50px;
}

.date-container {
    height: 50px;
    font-size: 20px;
}

.date-container::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 5px;
    background: var(--textdued);
}

.dashboard-charts {
    display: block;
}

.dashboard-charts .charts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.dashboard-charts .charts .attendance-chart-container {
    width: 100%;
    padding: 10px 10px 22px 10px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart {
    width: 100%;
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart caption {
    padding: 10px 0;
    border-bottom: 1px solid var(--border);
    font-weight: 600;
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart tbody {
    transform: translateY(12px);
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart tr {
    height: 40px;
    margin: 10px 0;
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart tr td {
    padding-left: 20px;
    font-size: var(--font-size-14)
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart thead {
    height: 50px;
    transform: translateY(5px);
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart thead tr th {
    text-align: left;
    padding-left: 20px;
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart tr {
    height: 40px;
    margin: 10px 0;
}

.dashboard-charts .charts .attendance-chart-container table.attendance-chart tr td {
    padding-left: 20px;
    font-size: var(--font-size-14)
}

.dashboard-charts .charts .data-chart {
    width: calc(50% - 40px);
    padding: 20px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.dashboard-charts .charts .data-chart:nth-child(1) {
    margin-right: 30px;
}

.dashboard-charts:has(#monthMeters) .charts {
    justify-content: flex-start;
}

.dashboard-charts:has(#monthMeters) .charts .data-chart:nth-child(1) {
    margin-right: 0 !important;
    width: calc(50% - 60px);
}

h5.chart-header {
    margin: 10px 0;
    color: var(--textdued);
}

.status-chart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
}

.status-detail-block {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-detail-block .status-card p {
    font-weight: 700;
}
