@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --text-main: #ffffff;
    --main-bg-color: #ffffff;
    --background-shadow-touch: #fbfcfc;
    --button-low-bg: #f7f7f7;
    --background-alt: #f6f8fa;
    --table-row: #f3f3f3;
    --popup-bg: #f1f8fe;
    --button-bg: #efefef;
    --table-line: #edf0f4;
    --popup-border: #e3e1e6;
    --border: #c8c8c8;
    --sub-text: #5c6378;
    --alt-text: #000000;
    --accent: #0078d4;
    --highlight: #00dfff;
    --nav-bg: #fcfcfc;
    --horizontal-nav-bg: #f3f1f6;
    --textdued: #525469;
    --timeframe-bg: #eae8ed;

    --border-radius-1: 5px;

    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;

    --open-sans: "Open Sans", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

span.nav-link-text {
    display: contents;
    width: -webkit-fill-available;
}

input[type="button"] {
    cursor: pointer;
}

input:disabled {
    cursor: no-drop;
}

/* body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(bgimage.jpg);
    backdrop-filter: brightness(120%) saturate(180%);
    height: 100vh;
} */

body {
    background-image: url(./bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
}

body.dashboard,
body.login,
body.gatePassPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    margin: 0 !important;
}

body.dashboard,
body.login,
body.gatePassPage {
    flex-direction: column;
}

/* body.login .content {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-direction: column !important;
} */

.register .content {
    width: 100%;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .content form {
    width: 100%;
    /* height: 600px; */
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container {
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.logo-wrapper .logo-image {
    width: auto;
    height: 100px;
}

.register .twosections {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register .twosections .sections-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register .section {
    width: 350px;
}

.form-sections {
    width: 100%;
    height: 60px;
}

.input-head {
    width: auto;
    height: 20px;
    font-weight: 400;
    margin: 5px 0;
    padding: 0 5px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-details {
    width: 400px;
}

.login-input {
    width: calc(100% - 28px) !important;
    padding: 8px !important;
    margin: 5px 5px !important;
    border: 1px solid var(--border) !important;
    border-radius: var(--border-radius-1) !important;
    background-color: var(--text-main) !important;
    font-size: var(--font-size-16) !important;
    outline: none !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
}

select#level {
    width: calc(100% - 10px) !important;
}

.login-input:focus {
    border-bottom: 2px solid var(--accent);
}

.login-input:focus+.input-head,
.login-input:not(:placeholder-shown)+.input-head {
    top: 0;
    font-size: var(--font-size-12);
    color: var(--accent);
}

.form-sections.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

#showPermissionsList,
.login-btn {
    max-width: 150px !important;
    display: inline-block !important;
    margin-top: 30px !important;
    padding: 10px 20px !important;
    font-size: var(--font-size-16) !important;
    text-align: center !important;
    text-decoration: none !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    background-color: var(--accent) !important;
    color: var(--text-main) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.3s, box-shadow 0.3s !important;
}

.register .form-sections.submit a input[type="button"] {
    width: fit-content !important;
}

#showPermissionsList {
    background-color: var(--button-low-bg);
    border: 1px solid var(--border);
    color: var(--alt-text);
    margin-left: 100px;
}

.header-logo {
    width: 100%;
    margin: 30px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.logo-image {
    height: 100px;
    width: auto;
    top: 50px;
}

.toolsAndPreview {
    height: calc(100vh - 300px);
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex: 1;
    padding-bottom: 100px;
}

.tools .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    grid-template-rows: repeat(3, 170px);
    gap: 20px;
    /* justify-content: center;
    align-items: center; */
    height: fit-content;
}

.tools .grid-container .grid-item {
    width: 130px;
    height: 140px;
    background-color: var(--text) 57;
    /* margin: 10px 0; */
    padding: 10px 0 20px 0;
    color: var(--accent);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    border: 1px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

/* .tools .grid-container .grid-item .grid {
    width: fit-content;
    height: fit-content;
} */

.tools .grid-container .grid-item span {
    font-size: 40px;
    padding: 0 8px 0 8px;
}

.tools .grid-container .grid-item h3 {
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--sub-text);
    padding: 3px 10px;
}

.tools .grid-container .grid-item button {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 10px;
    font-size: var(--font-size-16);
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.btn-approve,
.btn-reject {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 5px;
    font-size: var(--font-size-16);
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: var(--text-main);
    border: 1px solid var(--border);
    margin-top: auto;
    border-radius: var(--border-radius-1);
}

.overlay {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.226);
    transition: opacity 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.popup {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    right: 0;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.014); */
    width: 300px;
    height: calc(100vh - 87px);
    max-height: calc(100vh - 30px);
    overflow-y: auto;
    background: var(--nav-bg);
    border-left: 2px solid var(--popup-border) !important;
    border-radius: 0;
    margin: 0;
    padding: 0 15px 15px 15px;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: 0;
    transform: translateX(330px);
    /* Initial position for transition */
    transition: transform 0.5s ease, visibility 0.5s;
    visibility: hidden;
}

#permissionList {
    width: 440px !important;
    height: 350px !important;
    top: calc(50% - 175px);
    left: calc(50% - 220px);
}

#permissionList .popupHeader {
    width: 440px !important;
    font-size: 20px;
    position: relative;
}

#permissionList .permission-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    font-size: 14px;
}

#permissionList .permission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.radio,
.check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 16px !important;
    height: 16px !important;
    border: 1px solid var(--border);
    border-radius: 3px;
}

.radio:checked {
    padding: 5px 0 0 7.5px !important;
}

.check:checked {
    padding: 1px 0 0 1.5px !important;
    background-color: var(--accent);
    border: 1px solid var(--accent) !important;
    opacity: 1 !important;
}

.radio:checked::before,
.check:checked::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    /* padding: 3px; */
    margin-top: -7px;
    margin-left: 1px;
    font-size: 10px;
    color: var(--text-main);
    vertical-align: middle;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.popupHeader {
    height: 40px;
    width: 300px;
    padding-top: 5px;
    display: flex;
    font-size: var(--font-size-14);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

#gatePassForms .popupHeader,
#visitorsList .popupHeader {
    /* width: -webkit-fill-available; */
    width: calc(100% - 30px);
    z-index: 4;
}

.popupHeader button {
    border: none;
    background: transparent;
    font-size: 20px;
    /* margin: 5px; */
    cursor: pointer;
    color: var(--alt-text);
}

.toApprove {
    list-style-type: none;
    margin-top: 50px;
}

.toApprove img {
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    border-radius: 50%;
    margin: -3px 10px 0 -3px;
}

#reportButtons {
    width: 250px;
    /* height: auto; */
}

.popup .excelExportBtns {
    flex: 1;
    margin: 15px 0;
    padding: 10px;
    height: 30px;
    background-color: var(--text-main);
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .excelExportBtns span {
    padding: 5px 5px 0 2px;
    font-size: 25px;
    color: var(--accent);
}

.popup .excelExportBtns h5 {
    padding: 0 5px;
    flex: 1;
    font-size: var(--font-size-12);
    font-weight: 500;
}

.popup .excelExportBtns button {
    width: auto;
    height: auto;
    background: var(--button-low-bg);
    border: 1px solid var(--border);
    font-size: var(--font-size-12);
    border-radius: var(--border-radius-1);
    padding: 2px 5px;
    cursor: pointer;
}

.popup .excelExportVisitorBtns {
    display: block;
}

.popup .excelExportVisitorBtns .excelTimeDuration {
    width: calc(100% - 30px);
    height: 46px;
    margin: 15px 0;
    background: var(--text-main);
    border: 1px solid var(--border);
    font-size: var(--font-size-12);
    border-radius: var(--border-radius-1);
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .excelExportVisitorBtns .excelTimeDuration input {
    width: 150px;
    padding: 4px 6px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-14);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.exportAndBack {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exportAndBack button.exportVisitorExcel {
    width: auto !important;
}

.exportAndBack .exportVisitorExcel {
    cursor: pointer;
}

.toApprove li form {
    flex: 1;
    margin: 5px 0;
    padding: 10px;
    height: 30px;
    border: 1px solid var(--popup-border);
    border-radius: var(--border-radius-1);
    display: flex;
    color: var(--textdued);
}

.toApprove li form button {
    flex: 1;
    font-size: 13px;
    height: 100%;
    width: calc(100% - 50px);
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.popup.visible {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

#gatePassForms,
#visitorsList {
    width: 700px;
    transform: translateX(720px);
    /* Initial position for transition */
    transition: transform 0.5s ease, visibility 0.5s;
    visibility: hidden;
}

#gatePassForms.visible,
#visitorsList.visible {
    width: 700px;
    transform: translateX(0);
    visibility: visible;
}

.visitorPage {
    background: var(--popup-bg);
}

.content.visitor {
    width: 100%;
    height: auto;
}

.visitorForm {
    width: 100%;
    height: auto;
}

.visitordetails {
    width: calc(100% - 46px);
    background: var(--main-bg-color);
    border-radius: 10px;
    margin: 8px 8px 0px 8px;
    padding: 25px 15px 15px 15px;
}

.visitdetails {
    color: var(--alt-text);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex;
}

.visitdetails .left {
    flex-grow: 1;
    height: 500px;
    background: var(--main-bg-color);
    border-radius: 10px;
    margin: 4px 0px 4px 8px;
    padding: 15px;
}

.visitdetails .left h4 {
    font-size: 26px;
    padding-left: 18px;
}

.visitorForm .names,
.visitdetails .left .container {
    width: 100%;
    height: 50px;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex;
}

.visitorForm .visitordetails .names .lastname,
.visitorForm .visitordetails .names .firstname,
.visitorForm .visitordetails .names .company,
.visitorForm .visitordetails .names .id {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visitdetails .left .enterDetail {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visitdetails .left .enterDetail .visitorStatusUpdates {
    width: auto;
    display: flex;
    align-items: center;
}

.visitdetails .left .enterDetail .visitorStatusUpdates label {
    width: 167px;
}

.gatePassPage label,
.names label,
.container label {
    float: left;
    width: 160px;
    font-weight: 500;
}

.gatePassPage input,
.names input,
.container input,
.container textarea,
.photo-controls input,
.footer input,
button.exportVisitorExcel {
    width: calc(100% - 182px);
    padding: 4px 6px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-14);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.photo-controls #live {
    background-color: var(--accent);
    color: var(--text-main);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.buttons input,
.footer input {
    width: 90px;
}

#statusbtn {
    width: fit-content;
    background-color: var(--accent);
    color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
    text-align: center;
}

.btn-status {
    justify-content: flex-end;
}

.right {
    width: auto;
    height: 500px;
    background: var(--main-bg-color);
    border-radius: 10px;
    margin: 8px;
    padding: 15px 29px 15px 5px;
}

.right .visitor-photo {
    width: 100%;
    height: 220px;
    margin: 30px 0;
}

.photo-wrapper {
    width: calc(100% - 20px);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.right .visitor-photo .photo-wrapper img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.right .visitor-photo .photo-controls {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .visitor-photo .photo-controls input {
    width: 70px;
    margin: 0 3px;
}

.right .visitor-photo .photo-controls input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.right .visitor-photo .photo-controls .file-upload-label {
    padding: 4px 10px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    font-size: var(--font-size-14);
    outline: none;
    width: fit-content;
    background-color: var(--accent);
    color: var(--text-main);
    margin-top: auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.right .visitor-photo .photo-controls .file-upload-label:hover {
    background-color: var(--accent);
}

.right .photo-wrapper img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.footer {
    width: auto;
    height: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 8px 35px 8px 31px;
}

.footer .approveOrReject,
.footer .saveOrCancel {
    width: 50%;
}

.footer .approveOrReject {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .approveOrReject .accessed {
    background-color: var(--accent);
    color: var(--text-main);
    margin-top: auto;
}

.footer .saveOrCancel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer input {
    margin: 0 4px;
}

.dashboard-footer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* position: absolute; */
    bottom: 50px;
}

.dashboard-footer button {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 10px;
    font-size: var(--font-size-16);
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.user-list {
    margin: 20px 50px !important;
    width: 100%;
    /* margin: 20px auto; */
    max-width: calc(100% - 100px);
}

.user-list h1 {
    margin: 30px 0;
}

.user-list .outerContainer {
    width: 100%;
}

.user-list .table-container {
    width: calc(100%);
    height: fit-content;
    border: 1px solid (var(--sub-text) 0.7);
    border-radius: 6px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    table-layout: fixed;
}

.user-list tr input[type="checkbox"]:checked {
    padding: 0 0 0 0.5px;
}

.radio:checked::before,
.checkbox:checked::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    margin-top: -7px;
    margin-left: 1px;
    font-size: 10px;
    color: var(--text-main);
    vertical-align: middle;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.user-list table {
    width: 100%;
    background: var(--main-bg-color);
    /* padding: 16px; */
}

.user-list table .tableHeadRow tr {
    width: 100%;
    border: 1px solid var(--background-shadow-touch);
    /* gap: 20px; */
}

.user-list table .tableHeadRow tr:nth-last-child(1) th {
    border-radius: 0 6px 6px 0;
}

.user-list table .tableHeadRow tr th {
    text-align: left;
    background: transparent;
    padding: 6px 0;
    background: var(--background-alt);
    border: none !important;
    color: var(--sub-text);
    font-size: var(--font-size-14);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 0px; */
    padding-right: 30px;
}

.user-list table .tableHeadRow tr:nth-last-child(1) th {
    border-radius: 0;
}

.user-list table .tableHeadRow tr th:nth-last-child(1) {
    border-radius: 0 6px 6px 0 !important;
    padding-right: 10px;
}

.user-list table .tableHeadRow tr th:nth-child(1) {
    border-radius: 6px 0 0 6px !important;
    padding: 0;
    text-align: center;
}

.user-list[aria-label="All Users"] table .tableHeadRow tr th:nth-child(1) {
    padding: 0 10px !important;
}

.user-list table tbody tr td:nth-child(2),
.user-list table .tableHeadRow tr th:nth-child(2) {
    padding: 0 14px 0 0;
}

.user-list table .tableHeadRow tr th.checkboxcolumn {
    width: auto;
}

.user-list input[type="checkbox"] {
    margin: 0 !important;
}

.user-list table tbody tr {
    height: 54px;
    text-align: left;
    background: transparent;
}

.user-list table tbody tr td {
    text-align: left;
    font-size: var(--font-size-14);
    font-weight: 400;
    border-bottom: 1px solid var(--table-line);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-list table tbody tr td:not(.user-list table tbody tr td:nth-child(1)) {
    padding-right: 30px;
}

.user-list table tbody tr:nth-last-child(1) td {
    border-bottom: none !important;
}

.user-list table tbody tr td:nth-child(1) {
    border-bottom: 1px solid transparent !important;
}

.user-list[aria-label="All Employees"] table tbody tr td:nth-child(3) {
    font-family: var(--open-sans);
}

.user-list .mainTableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .leftControls {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .leftControls .goBack {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.user-list .mainTableHeader .leftControls .goBack:hover {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #00000025;
}

.user-list .mainTableHeader .leftControls .goBack span {
    font-size: 20px;
    text-decoration: none;
    padding: 5px 0;
}

.user-list .mainTableHeader .leftControls h1 {
    padding: 0 10px;
}

.user-list .mainTableHeader .operatingTools {
    width: calc(100% - 400px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .operatingTools .searchContainer {
    margin: 0;
    width: calc(100% - 350px);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list .mainTableHeader .operatingTools .searchContainer input {
    padding: 6px 6px;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-16);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.user-list .mainTableHeader .operatingTools .searchContainer button {
    padding: 5px 4px;
    margin-left: -30px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    font-size: var(--font-size-16);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.highlight {
    background-color: var(--highlight);
    border-radius: 5px;
}

.user-list .mainTableHeader .operatingTools #toggleStatusButton,
.user-list .mainTableHeader .operatingTools .deactivate,
.user-list .mainTableHeader .operatingTools .activate,
.user-list .mainTableHeader .operatingTools .createUser {
    margin: 0 0 0 6px;
    padding: 4px 6px;
    width: fit-content;
    height: auto;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-16);
    outline: none;
    color: #000;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.operatingTools button, .operatingTools a {
    height: 36px !important;
}

.user-list .mainTableHeader .operatingTools .deactivate span,
.user-list .mainTableHeader .operatingTools .activate span,
.user-list .mainTableHeader .operatingTools .createUser span {
    margin: 0 0 0 5px;
    font-size: var(--font-size-16);
}

.user-list .mainTableHeader .operatingTools a {
    text-decoration: none;
}

/* Initially hide the checkbox */
.grid-element input[type="radio"],
.radio,
.user-list input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
}

/* .user-list input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    color: white;
    font-size: var(--font-size-14);
    text-align: center;
    line-height: 18px;
  } */

/* Show the checkbox when hovering over the table row */
.user-list tr:hover input[type="checkbox"] {
    opacity: 1;
    border: 1px solid var(--border);
}

.grid-element input[type="radio"]:checked,
.radio:checked,
.user-list tr input[type="checkbox"]:checked {
    opacity: 1;
    background-color: var(--accent);
    border: 1px solid var(--accent) !important;
}

.grid-element input[type="radio"],
.radio,
.user-list input[type="checkbox"] {
    transform: scale(1.2);
    margin: 7px;
    /* Adjust the font size as needed */
}

.grid-element input[type="radio"] {
    margin: 7px 2px !important;
}

.change-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.change-password-child-container {
    display: block;
}

.pwordchange-details {
    width: 300px;
    height: fit-content;
}

.pwordchange-details .form-sections {
    width: 100%;
    height: fit-content;
}

.container h2 {
    font-size: 25px;
    font-weight: 600;
}

.pwordchange-details .form-sections .pwordchange-input {
    width: calc(100% - 14px);
    height: 30px;
}

.pwordchange-details .form-sections .pwordchange-btn {
    background: var(--accent);
    color: var(--text-main);
    width: fit-content;
}

#error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.014);
    z-index: 1;
    width: 300px;
    height: fit-content;
    /* Set maximum height to 90% of the viewport height */
    overflow-y: auto;
    background: var(--text-main);
    border-radius: 10px;
    margin: 8px;
    padding: 15px;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: 3px solid #993f3f;
}

#error-message #error-text {
    height: fit-content;
    padding: 5px;
}

#errorOverlay.visible,
#error-message.visible {
    display: block;
    opacity: 1;
}

.contactMe {
    width: calc(100% - 30px);
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: -4px -4px 20px #edf8ff43;
    z-index: 1;
    height: fit-content;
    /* Set maximum height to 90% of the viewport height */
    overflow-y: auto;
    background: #edf8ff;
    padding: 4px 15px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-size: var(--font-size-12);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactMe.hide {
    opacity: 0;
}

#dashboardFooter {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#dashboardFooter.hide {
    opacity: 0;
}

.innerContainer {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactMe a {
    text-decoration: none;
    color: #000cb6;
    font-weight: 600;
}

.contactMe .contactInfo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactMe .contactInfo .socialLinks {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#helpMenu {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
}

/* #helpMenu .helpHeader {
    width: 100%;
    margin-bottom: 20px;
    font-size: 28px;
    height: fit-content;
} */

#helpMenu .panels {
    width: 100%;
    height: calc(100% - 68px);
    border-radius: 14px;
    overflow: auto;
}

.tabs.panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 10px 0;
    width: 100%;
}

.tabs.panel button {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    background: transparent;
}

.tabs.panel button:nth-child(1) {
    padding: 5px 10px 5px 0 !important;
}

.panels .tabs button::after {
    content: '';
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background: transparent;
    display: block;
}

/* .panels .tabs button {
    width: calc(100% - 10px);
    margin: 5px;
    padding: 15px 10px;
    height: fit-content;
    background-color: var(--text-main);
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
} */

.panels .tabs .activeButton {
    font-weight: 700;
}

.panels .tabs .activeButton::after {
    content: '';
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background: var(--accent);
    display: block;
}

.panels .helpDetails {
    /* flex: 1; */
    width: 100%;
    /* margin: 8px 8px 8px 0; */
}

.panels .helpDetails .window {
    /* width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    background-color: var(--table-row);
    border-radius: var(--border-radius-1); */
    display: none;
}

.panels .helpDetails .window.visible {
    display: block;
}

.panels .helpDetails .window h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

.panels .helpDetails .window h4 {
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0;
}

.panels .helpDetails .window .mainOl {
    font-size: var(--font-size-16);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.panels .helpDetails .window .mainOl li::marker {
    width: 50px;
}

.panels .helpDetails .window .mainOl .mainListItem {
    list-style-position: inside;
    align-items: center;
    /* Align content vertically in the flex container */
    /* white-space: nowrap; */
}

.panels .helpDetails .window .mainOl .mainListItem ol {
    list-style-type: upper-roman;
    margin-left: 30px;
    list-style-position: outside;
}

.panels .helpDetails .window .mainOl .mainListItem img {
    width: 400px;
    height: auto;
    float: left;
    border: 4px solid var(--border);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.quotes {
    padding: 2px 5px;
    background: var(--popup-border);
    border-radius: 3px;
}

#fullscreenOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#fullscreenImage {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text-main);
    cursor: pointer;
    font-size: 20px;
}

/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cameraModal.visible {
    display: block;
}

/* Center the modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background-color: var(--text-main);
    border-radius: 5px;
}

/* Style the capture button */
.modal-content button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    width: calc(100% - 182px);
    margin-right: 15px;
}

#remarks {
    width: 100%;
    /* padding: 4px 6px; */
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-14);
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--button-low-bg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.089);
    z-index: 1;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3px;
    border: 1px solid var(--border);
    width: 100%;
    max-height: 200px;
    /* Maximum height when multiple items are visible */
    overflow-y: auto;
}

.option {
    padding: 7px;
    font-size: var(--font-size-12);
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 14px);
}

.option:hover {
    background-color: var(--popup-border);
}

.dropdown-content.hide {
    display: none;
}

#dropdownOptions.hide {
    display: none;
}

/* Add this to your existing CSS or in a separate file */
.search-container {
    display: flex;
    position: fixed;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 40px;
    height: 40px;
    padding: 0;
    width: calc(100% - 34px);
    /* background: var(--popup-bg); */
    /* box-shadow: 0px 10px 10px#f1f8fe; */
    z-index: 9999;
}

.search-input {
    padding: 4px;
    width: 400px;
    height: fit-content;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    background-color: var(--text-main);
    font-size: var(--font-size-14);
    outline: none;
}

.search-container button {
    padding: 5px 4px;
    margin-left: -30px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    font-size: var(--font-size-16);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* First child div with a larger width */
.visitorsListDetail:first-child {
    flex: 1.2 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 !important;
}

.visitorsListDetail {
    flex: 1.1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px;
}

.visitorsListDetail:last-child {
    flex: 1;
    margin: 0 !important;
    text-align: right;
}

#visitor-search {
    width: 200px;
}

#search-results {
    list-style-type: none;
    margin-top: 100px;
}

#search-results li form:hover {
    background-color: var(--table-row);
}

.visitor-item {
    position: relative;
}

.detail-box {
    display: none;
    position: absolute;
    background-color: var(--button-low-bg);
    border: 1px solid var(--border);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
}

.detail-box-row {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-box-row span:first-child {
    font-weight: 600;
    width: 180px;
}

.visitor-item:hover .detail-box {
    display: block;
}

.visitorsListDetail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.centered-details {
    text-align: center !important;
}

.pagination .disabled {
    color: var(--sub-text);
    pointer-events: none;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.pagination .pagination-btn {
    background: var(--popup-bg);
    border: 0;
    width: 18px;
    height: 18px;
    text-decoration: none;
    padding: 6px;
    color: #000000;
    margin: 0 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-size: var(--font-size-14);
}

.pagination .pagination-controls {
    margin: 0 10px !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background: #efefefaf !important;
}

.pagination .pagination-current {
    font-weight: bold;
    background-color: var(--accent);
    color: var(--text-main);
    border-color: var(--accent);
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container #pageNumberInput {
    width: 60px;
    height: 16px;
    padding: 6px;
    border: 1px solid var(--border);
    border-right: hidden !important;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    margin: 0 0 0 4px;
}

.pagination-container button {
    height: 30px;
    padding: 6px;
    background: var(--border);
    border: 1px solid var(--border);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
    margin: 0 4px 0 0;
}

.gate-pass-title {
    width: 100%;
    text-align: center;
    height: 60px;
    margin-top: 30px;
}

.gate-pass-form {
    /* width: 900px; */
    height: auto;
    /* background: #ececec5f; */
    padding: 30px 50px;
    border-radius: 30px;
}

.top-radio-boxes {
    margin-bottom: 30px;
}

.radio-boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    /* width: calc(100% - 40px); */
    width: 100%;
    /* padding: 20px 20px 0 20px; */
}

.grid-element {
    /* width: 100px; */
    flex: 1;
    height: 30px;
    /* background: var(--accent); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-element input[type="radio"],
.radio {
    opacity: 1 !important;
}

.grid-element input[type="radio"]:checked::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    /* padding: 3px; */
    margin-top: -16px;
    margin-left: -5px;
    font-size: 10px;
    color: var(--text-main);
    vertical-align: middle;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.bottom-employee-details {
    width: 100%;
    height: auto;
}

.gate-pass-detail-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.control-buttons-container .gate-pass-input-container {
    padding: 0 !important;
}

.gate-pass-detail-block .gate-pass-input-container:nth-child(1) {
    padding: 0 20px 0 0;
}

.gate-pass-detail-block .gate-pass-input-container:nth-child(2) {
    padding: 0 0 0 20px;
}

.gate-pass-detail-block.departing-reason .gate-pass-input-container,
.gate-pass-detail-block.departing-remark .gate-pass-input-container {
    padding: 0 !important;
}

.gate-pass-input-container {
    height: 60px;
    /* background: rgb(141, 141, 141); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 20px;
}

.gate-pass-input-container.employee-id {
    justify-content: left !important;
}

.gate-pass-input-container input {
    width: calc(100% - 174px);
    min-width: 100px;
}

.gate-pass-input-container #employeeId {
    width: 100px !important;
}

.employee-id .dropdown-content {
    height: auto !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}

.control-buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 10px 0;
}

.employee-status {
    flex: none !important;
    width: calc(50% - 20px);
}

/* .button-container {
    margin-right: 10px;
} */

.control-buttons-container .exit-form-control-btn {
    width: 100px;
    height: 26px;
    background: var(--button-bg);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-1);
    margin: 0 0 0 10px;
}

.exit-form-control-btn.accented {
    background: var(--accent);
    border: var(--accent);
    color: var(--text-main);
}

span.secondary-icon {
    font-size: 20px !important;
}

span.secondary-icon i {
    background: white;
    border-radius: 50%;
    padding: 2px;
    margin-left: -43px;
    margin-bottom: -13px;
    background: white;
}

.requests-reminder {
    width: calc(100% - 12px);
    height: auto;
    /* background: var(--popup-bg); */
    padding: 10px 10px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--popup-border);
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
    opacity: 1;
    z-index: 99999;
    /* box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.144); */
    /* transform: translateX(330px); */
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    visibility: visible;
}

.requests-reminder.show {
    opacity: 1;
    /* Show notification */
    transform: translateX(0);
    /* Move to final position */
    visibility: visible;
}

.requests-reminder h3 {
    font-size: 17px;
    color: var(--alt-text);
}

.requests-reminder p {
    font-size: 16px;
    color: var(--sub-text);
}

.requests-reminder button {
    margin-top: 2px;
    font-size: 25px;
    background: transparent;
    border-radius: 50%;
    border: none;
    color: var(--accent);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


@media screen and (max-width: 1300px) {
    .visitdetails {
        flex-direction: column;
    }

    .visitdetails .left {
        width: calc(100% - 46px);
        margin: 8px 8px 0px 8px;
        height: fit-content;
    }

    .visitdetails .right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: calc(100% - 46px);
        height: fit-content;
        margin: 8px;
        padding: 20px;
    }

    .user-list .mainTableHeader {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-list .mainTableHeader .leftControls {
        margin: 20px 0 10px 0;
    }

    .user-list h1 {
        margin: 0;
    }

    .user-list .mainTableHeader .operatingTools {
        margin-bottom: 20px;
        width: 100%;
    }

.operatingTools button, .operatingTools a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
}
}

@media screen and (max-width: 1100px) {
    .visitordetails .names {
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .visitordetails .names div {
        padding: 8px !important;
        width: 100% !important;
    }

    .visitdetails .left h4 {
        padding-left: 0px;
        margin-bottom: 16px;
    }

    .visitdetails .left .container {
        gap: 24px;
    }

    .visitdetails .left .enterDetail {
        padding: 8px 0;
    }

    #gatePassForms.visible, #visitorsList.visible {
        width: calc(100% - 336px);
    }
}

@media screen and (max-width: 1000px) {
    .visitdetails .left .container {
        gap: 0;
        flex-direction: column;
        height: fit-content;
    }
}

@media screen and (max-width: 900px) {
    .visitdetails .left .container.buttons .enterDetail {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .visitdetails .left .enterDetail .visitorStatusUpdates {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right .visitor-photo {
        height: fit-content;
        margin: 0;
    }

    #gatePassForms.visible, #visitorsList.visible {
        width: calc(100% - 122px);
        z-index: 2;
    }
}

@media screen and (max-width: 700px) {
    .searchContainer {grid-area: search;}
    #toggleStatusButton { grid-area: toogleList; margin: 0 !important;}
    .deactivate { grid-area: activation; }
    .operatingTools a[href*="/register"] { grid-area: createButton; }
    
    .operatingTools {
      display: grid !important;
      grid-template-areas:
        'search search search'
        'toogleList activation createButton' !important;
      gap: 10px;
    }

    .searchContainer {
        width: calc(100% - 6px) !important;
    }
}

@media screen and (max-width: 450px) {
    .user-list-control-button-text {
        display: none;
    }
}

/* @media screen and (max-width: 1360px) {
    .toolsAndPreview {
        height: fit-content;
    }

    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 130px);
        grid-template-rows: repeat(3, 170px);
        gap: 20px;
    }
}

@media screen and (max-width: 920px) {
    .tools {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    body.visitorPage {
        width: 100%;
    }

    .visitdetails {
        display: block;
    }

    .visitdetails .left {
        height: fit-content;
        width: calc(100% - 46px);
    }

    .visitdetails .left h4 {
        font-size: 18px;
    }

    .visitorForm .names,
    .visitdetails .left .container {
        height: 40px;
        width: 100%;
    }

    .visitorForm .visitordetails .names .lastname,
    .visitorForm .visitordetails .names .firstname,
    .visitorForm .visitordetails .names .company,
    .visitorForm .visitordetails .names .id {
        padding: 5px;
    }

    .visitdetails .left .enterDetail {
        width: 100%;
        padding: 10px;
    }

    .names label,
    .container label {
        padding: 6px 4px 0 0;
        float: left;
        font-size: 11px;
        width: 80px;
        font-weight: 400;
    }

    .names label {
        width: 100px;
    }

    .names input,
    .container input,
    .photo-controls input,
    .footer input,
    .footer button {
        width: calc(100% - 90px);
        padding: 1px 2px;
        border: 1px solid var(--border);
        border-radius: 4px;
        background-color: var(--text-main);
        font-size: 10px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .names input {
        width: calc(100% - 110px);
    }

    .photo-controls #live {
        background-color: var(--accent);
        color: var(--text-main);
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-top: auto;
    }

    .buttons input,
    .footer input,
    .footer button {
        width: 70px;
    }

    #statusbtn {
        width: fit-content;
        background-color: var(--accent);
        color: var(--text-main);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-top: auto;
        text-align: center;
    }

    .btn-status {
        justify-content: flex-end;
    }

    .right {
        width: calc(100% - 46px);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right .visitor-photo {
        height: fit-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right .outside {
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .photo-wrapper {
        height: fit-content;
    }

    .right .visitor-photo .photo-wrapper img {
        width: 100px;
        height: 100px;
        padding: 0;
        border-radius: 10px;
    }

    .right .visitor-photo .photo-controls {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right .visitor-photo .photo-controls input {
        width: 50px;
        font-size: 10px;
        margin: 0 3px;
    }

    .right .visitor-photo .photo-controls input[type="file"] {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .right .visitor-photo .photo-controls .file-upload-label {
        padding: 4px 10px;
        border: 1px solid var(--border);
        border-radius: var(--border-radius-1);
        font-size: var(--font-size-14);
        outline: none;
        width: fit-content;
        background-color: var(--accent);
        color: var(--text-main);
        margin-top: auto;
        text-align: center;
        cursor: pointer;
        display: inline-block;
    }

    .right .visitor-photo .photo-controls .file-upload-label:hover {
        background-color: var(--accent);
    }

    .right .photo-wrapper img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .footer {
        width: calc(100% - 32px);
        height: 70px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
        padding: 8px;
    }

    .footer .approveOrReject,
    .footer .saveOrCancel {
        width: 50%;
    }

    .footer .approveOrReject {
        display: flex;
        align-items: center;
        justify-content: space;
    }

    .footer .approveOrReject .accessed {
        background-color: var(--accent);
        color: var(--text-main);
        margin-top: auto;
    }

    .footer .saveOrCancel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .footer .saveOrCancel .btn-save {
        margin-top: 6px;
    }

    .footer input {
        margin: 0 4px;
    }

    .toolsAndPreview {
        height: 550px;
        width: 100%;
    }

    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }

    .gate-pass-form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 650px) {
    .gate-pass-title {
        margin-top: 50px;
    }

    .gate-pass-form {
        background: transparent;
        padding: 10px;
    }

    .gate-pass-detail-block {
        align-items: flex-start;
        flex-direction: column;
    }

    .gate-pass-input-container {
        padding-top: 5px;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 600px) {
    .tools {
        padding-top: 370px;
    }

    body.login {
        width: 100%;
    }

    .login .login-details {
        width: 100%;
    }

    .dashboard .header-logo,
    .login .login-details .logo-wrapper {
        width: 100%;
        height: auto;
    }

    .dashboard .header-logo .logo-image,
    .login .login-details .logo-wrapper .logo-image {
        width: 80%;
        height: auto;
    }

    .toolsAndPreview {
        height: 550px;
        width: 100%;
    }

    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }

    .contactMe .contactInfo {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contactMe .contactInfo .socialLinks {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .linkText {
        display: none;
    }

    .dashboard-footer {
        bottom: 10px;
    }
}

@media screen and (max-width: 530px) {
    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }

    .dashboard-footer {
        margin-bottom: 60px;
    }

    .contactMe .contactInfo {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 470px) {
    .gate-pass-title {
        margin-top: 120px;
    }

    .radio-boxes-container {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(6, 1fr) !important;
        grid-column-gap: 0 !important;
        grid-row-gap: 0;
    }
}

@media screen and (max-width: 400px) {
    .tools {
        padding-top: 500px;
        padding-bottom: 0;
    }

    body.login {
        width: 100%;
    }

    .login .login-details {
        width: 100%;
    }

    .dashboard .header-logo,
    .login .login-details .logo-wrapper {
        width: 100%;
        height: auto;
    }

    .dashboard .header-logo .logo-image,
    .login .login-details .logo-wrapper .logo-image {
        width: 80%;
        height: auto;
    }

    .popup {
        width: calc(100% - 32px);
        max-height: calc(100vh - 140px);
        margin: 0;
    }

    .popupHeader {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 330px) {
    .toolsAndPreview {
        height: 800px;
        width: 100%;
    }

    .tools .grid-container {
        width: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tools .grid-container .grid-item {
        width: calc(100% - 12px);
        height: fit-content;
        background-color: var(--text-main);
        padding: 10px 0 20px 0;
        color: var(--accent);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13),
            0 1px 1px 0 rgba(0, 0, 0, 0.11);
        border: 1px solid var(--border);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .gate-pass-title {
        margin-top: 300px;
    }

    .top-radio-boxes {
        margin-bottom: 10px !important;
    }

    .radio-boxes-container {
        font-size: var(--font-size-14);
    }

    .gate-pass-input-container {
        flex-direction: column;
        padding-bottom: 5px;
    }

    .gate-pass-input-container label {
        width: 100%;
        font-size: var(--font-size-12);
    }

    .gate-pass-input-container #employeeId,
    .gate-pass-input-container input {
        width: calc(100% - 16px) !important;
        font-size: var(--font-size-12);
    }
} */