@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

input[type="button"] {
    cursor: pointer;
}

input:disabled {
    cursor: no-drop;
}

/* body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(bgimage.jpg);
    backdrop-filter: brightness(120%) saturate(180%);
    height: 100vh;
} */

body.login,
body.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    margin: 0 !important;
}

.register .content {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .content form {
    width: 100%;
    height: 600px;
}

.logo-wrapper {
    height:100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.logo-wrapper .logo-image {
    width: auto;
    height: 100px;
}

.register .twosections {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register .section {
    width:350px;
}

.form-sections {
    width: 100%;
    height: 60px;
}

.input-head {
    width: auto;
    height: 20px;
    font-weight: 400;
    margin: 5px 0;
    padding: 0 5px;
}

.login-input {
    width: calc(100% - 28px);
    padding: 8px;
    margin: 5px 5px;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-input:focus {
    border-bottom: 2px solid #0078d4;
}

.login-input:focus + .input-head,
.login-input:not(:placeholder-shown) + .input-head {
    top: 0;
    font-size: 12px;
    color: #0078d4;
}

.form-sections.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.login-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0078d4;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.header-logo {
    width: 100%;
    margin: 30px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    height: 100px;
    width: auto;
    position: absolute;
    top: 50px;
}

.toolsAndPreview {
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex: 1;
    padding-bottom: 100px;
}

.tools .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.tools .grid-container .grid-item {
    width: 170px;
    height: fit-content;
    background-color: #ffffff;
    /* margin: 10px; */
    padding: 10px 0 20px 0;
    color: #006bce;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
    border: 1px solid #eeefe9;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* .tools .grid-container .grid-item .grid {
    width: fit-content;
    height: fit-content;
} */

.tools .grid-container .grid-item span {
    font-size: 50px;
    padding: 0 8px 0 8px;
}

.tools .grid-container .grid-item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #6d6d6d;
    padding: 3px 10px;
}

.tools .grid-container .grid-item button {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0078d4;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.btn-approve,
.btn-reject {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #c8c8c8;
    margin-top: auto;
    border-radius: 8px;
}

.overlay {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.226);
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(2px);
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.014);
    z-index: 2;
    width: 300px;
    height: fit-content;
    max-height: calc(100vh - 30px); /* Set maximum height to 90% of the viewport height */
    overflow-y: auto;
    background: #f1f8fe;
    border-radius: 10px;
    margin: 8px;
    padding: 0 15px 15px 15px;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    border: 1px solid #ddd;
}

.popupHeader {
    height: 40px;
    width: 300px;
    padding-top: 5px;
    display: flex; 
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background: #f1f8fe;
}

#visitorsList .popupHeader {
    width: 700px;
}

.popupHeader button {
    border: none;
    background: transparent;
    font-size: 20px;
    /* margin: 5px; */
    cursor: pointer;
    color: #000;
}

.toApprove {
    list-style-type: none;
    margin-top: 50px;
}

.toApprove img {
    width: 35px;
    height: 35px;
    border: 1px solid #cecece;
    border-radius: 50%;
    margin: -3px 10px 0 -3px;
}

#reportButtons {
    width: 250px;
    height: 200px;
}

.popup .excelExportBtns {
    flex: 1;
    margin: 5px 0;
    padding: 10px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eeefe9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .excelExportBtns span {
    padding: 5px 5px 0 2px;
    font-size: 25px;
    color: #0078d4;
}

.popup .excelExportBtns h5 {
    padding: 0 5px;
    flex: 1;
    font-size: 12px;
    font-weight: 500;
}

.popup .excelExportBtns button {
    width: fit-content;
    height: auto;
    background: #f7f7f7;
    border: 1px solid #cecece;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 5px;
}

.popup .excelExportVisitorBtns {
    display: block;
}

.popup .excelExportVisitorBtns .excelTimeDuration {
    width: 100%;
    height: 46px;
    margin: 5px 0;
    background: #ffffff;
    border: 1px solid #eeefe9;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .excelExportVisitorBtns .excelTimeDuration input {
    width: 150px;
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.toApprove li form {
    flex: 1;
    margin: 5px 0;
    padding: 10px;
    height: 30px;
    background-color: #fbfdff;
    border: 1px solid #eceef0;
    border-radius: 5px;
    display: flex;
}

.toApprove li form button {
    flex: 1;
    font-size: 14px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.overlay.visible,
.popup.visible {
    display: block;
    opacity: 1;
}

#visitorsList {
    width: 700px;
}

.visitorPage {
    background: #f1f1f1;
}

.content.visitor {
    width: 100%;
    height: 100vh;
}

.visitorForm {
    width: 100%;
    height: 100vh;
}

.visitordetails {
    width: calc(100% - 46px);
    background: #f9f9f9;
    border-radius: 10px;
    margin: 8px 8px 0px 8px;
    padding: 15px;
}

.visitdetails {
    color: #1B1B1B;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex;
}

.visitdetails .left {
    flex-grow: 1;
    height: 500px;
    background: #f9f9f9;
    border-radius: 10px;
    margin: 4px 0px 4px 8px;
    padding: 15px;
}

.visitdetails .left h4 {
    font-size: 24px;
}

.visitorForm .names,
.visitdetails .left .container {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex;
}

.visitorForm .visitordetails .names .lastname,
.visitorForm .visitordetails .names .firstname,
.visitorForm .visitordetails .names .company,
.visitorForm .visitordetails .names .id {
    width: 50%;
    padding: 20px;
}

.visitdetails .left .enterDetail {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visitdetails .left .enterDetail .visitorStatusUpdates{
    width: fit-content;
}

.visitdetails .left .enterDetail .visitorStatusUpdates label {
    width: 167px;
}

.names label,
.container label {
    float: left;
    width: 160px;
    font-weight: 500;
}

.names input,
.container input,
.container textarea,
.photo-controls input,
.footer input {
    width: calc(100% - 182px);
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.photo-controls #live {
    background-color: #0078d4;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.buttons input,
.footer input {
    width: 90px;
}

#statusbtn {
    width: fit-content;
    background-color: #0078d4;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
    text-align: center;
}

.btn-status {
    justify-content: flex-end;
}

.right {
    width: 300px;
    height: 500px;
    background: #f9f9f9;
    border-radius: 10px;
    margin: 8px;
    padding: 15px;
}

.right .visitor-photo {
    width: 100%;
    height: 220px;
    margin: 30px 0;
}

.photo-wrapper {
    width: calc(100% - 20px);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.right .visitor-photo .photo-wrapper img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.right .visitor-photo .photo-controls {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .visitor-photo .photo-controls input {
    width: 70px;
    margin: 0 3px;
}

.right .visitor-photo .photo-controls input[type=file] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.right .visitor-photo .photo-controls .file-upload-label {
    padding: 4px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    width: fit-content;
    background-color: #0078d4;
    color: white;
    margin-top: auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.right .visitor-photo .photo-controls .file-upload-label:hover {
    background-color: #0072c9;
}

.right .photo-wrapper img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
}

.footer {
    width: calc(100% - 32px);
    height: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}

.footer .approveOrReject, 
.footer .saveOrCancel {
    width: 50%;
}

.footer .approveOrReject {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .approveOrReject .accessed {
    background-color: #0078d4;
    color: white;
    margin-top: auto;
}

.footer .saveOrCancel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer input  {
    margin: 0 4px;
}

.dashboard-footer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* position: absolute; */
    bottom: 50px;
}

.dashboard-footer button {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0078d4;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto;
}

.user-list {
    width: 80%;
    margin: 20px auto;
}

.user-list h1 {
    margin: 30px 0;
}

.user-list .outerContainer {
    width: 100%;
}

.user-list .table-container {
    width: calc(100%);
    height: 450px;
    border: 1px solid #b5b5b3;
    border-radius: 10px;
    overflow: scroll;
    overflow-y: auto; 
    overflow-x: auto;
    table-layout: fixed; 
}

.checkbox:checked::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    /* padding: 3px; */
    margin-top: -7px;
    margin-left: 1px;
    font-size: 10px;
    color: #ffffff;
    vertical-align: middle;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.user-list table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 0 20px 20px 20px;
}

.user-list tbody {
    overflow: scroll;
    height: 300px;
    overflow-y: auto; 
    scroll-behavior: smooth;
}

.user-list tr {
    height: 50px;
    background: #f3f3f3;
    margin-bottom: 50px;
    border-radius: 10px;
}

/* .user-list tr:hover {
    height: 50px;
    background: #f0f0ed;
    margin-bottom: 50px;
} */

.user-list thead th {
    background-color: #f3f3f3;
    outline: 1px solid #f3f3f3;
    color: #000000;
    position: sticky;
    top: 0;
}

.user-list th, .user-list td {
    /* border: 1px solid #d47878; */
    border-top: hidden;
    border-bottom: hidden;
    padding: 8px;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    white-space: nowrap;
}

.user-list tr:nth-child(even) {
    background-color: #fdfdfa;
    border-radius: 10px;
    outline: 1px solid #c9c9c5;
}

/* .user-list tr:nth-child(even):hover {
    background-color: #f0f0ed;
    border-radius: 10px;
    outline: 1px solid #c9c9c5;
} */

.user-list .mainTableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .leftControls {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .leftControls .goBack {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.user-list .mainTableHeader .leftControls .goBack:hover {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #00000025;
}

.user-list .mainTableHeader .leftControls .goBack span {
    font-size: 20px;
    text-decoration: none;
    padding: 5px 0;
}

.user-list .mainTableHeader .leftControls h1 {
    padding: 0 10px;
}

.user-list .mainTableHeader .operatingTools {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list .mainTableHeader .operatingTools .searchContainer {
    margin: 0 6px;
    width: calc(200px + 14px);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list .mainTableHeader .operatingTools .searchContainer input {
    padding: 6px 6px;
    width: 260px;
    height: fit-content;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.user-list .mainTableHeader .operatingTools .searchContainer button {
    padding: 5px 4px;
    margin-left: -30px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 8px;
    background-color: #00000000;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.highlight {
    background-color: yellow;
    border-radius: 5px;
}

.user-list .mainTableHeader .operatingTools .deleteUser,
.user-list .mainTableHeader .operatingTools .createUser {
    margin: 0 0 0 6px;
    padding: 4px 6px;
    width: 136px;
    height: fit-content;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
    color: #000;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list .mainTableHeader .operatingTools .createUser {
    width: 96px;
}

.user-list .mainTableHeader .operatingTools .deleteUser span {
    margin: 4px 6px 0 0;
    font-size: 16px;
}

.user-list .mainTableHeader .operatingTools .createUser span {
    margin: 2px 6px 0 0;
    font-size: 16px;
}

.user-list .mainTableHeader .operatingTools a {
    text-decoration: none;
}

/* Initially hide the checkbox */
.user-list input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
  }

  /* .user-list input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
  } */

/* Show the checkbox when hovering over the table row */
.user-list tr:hover input[type="checkbox"] {
    opacity: 1;
    border: 1px solid #81817f;
}

.user-list tr input[type="checkbox"]:checked {
    opacity: 1;
    background-color: #0078d4;
    border: 1px solid #0078d4;
}

.user-list input[type="checkbox"] {
    transform: scale(1.2);
    margin: 7px; /* Adjust the font size as needed */
}

.pwordchange-details {
    width:300px;
    height: fit-content;
}

.pwordchange-details .form-sections {
    width: 100%;
    height: fit-content;
}

.container h2 {
    font-size: 25px;
    font-weight: 600;
}

.pwordchange-details .form-sections .pwordchange-input {
    width: calc(100% - 14px);
    height: 30px;
}

.pwordchange-details .form-sections .pwordchange-btn {
    background: #0078d4;
    color: #ffffff;
    width: fit-content;
}

#error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.014);
    z-index: 1;
    width: 300px;
    height: fit-content; /* Set maximum height to 90% of the viewport height */
    overflow-y: auto;
    background: #ffffff;
    border-radius: 10px;
    margin: 8px;
    padding: 15px;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    border: 3px solid #993f3f;
}

#error-message #error-text {
    height: fit-content;
    padding: 5px;
}

#errorOverlay.visible,
#error-message.visible {
    display: block;
    opacity: 1;
}

.contactMe {
    width: calc(100% - 30px);
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: -4px -4px 20px #edf8ff43;
    z-index: 1;
    height: fit-content; /* Set maximum height to 90% of the viewport height */
    overflow-y: auto;
    background: #edf8ff;
    padding: 4px 15px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactMe.hide {
    opacity: 0;
}

#dashboardFooter {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#dashboardFooter.hide {
    opacity: 0;
}

.innerContainer {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactMe a {
    text-decoration: none;
    color: #000cb6;
    font-weight: 600;
}

.contactMe .contactInfo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactMe .contactInfo .socialLinks {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help-menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    width: 90%;
    height: 90%;
    padding-top: 0;
}

.help-menu .popupHeader {
    width: 100%;
    padding: 10px 0;
    font-size: 28px;
    height: fit-content;
}

.help-menu .panels {
    width: 100%;
    height: calc(100% - 68px);
    background-color: #dddddd;
    display: flex;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}

.help-menu .panels .panel {
    height: calc(100% - 16px);
    background-color: #f1f1f1;
    border-radius: 8px;
}

.help-menu .panels .tabs {
    width: 250px;
    margin: 8px;
}

.help-menu .panels .tabs button {
    width: calc(100% - 10px);
    margin: 5px;
    padding: 15px 10px;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #eeefe9;
    border-radius: 5px;
    display: flex;
    font-weight: 500;
    border: 1px solid #dddddd;
    cursor: pointer;
    transition: all 0.2s ease;
}

.help-menu .panels .tabs .activeButton {
    /* Add your styles for the active button here */
    background-color: #ccc; /* Change this to your desired active button background color */
    color: #000; /* Change this to your desired active button text color */
}

.help-menu .panels .helpDetails {
    flex: 1;
    margin: 8px 8px 8px 0;
}

.help-menu .panels .helpDetails .window {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: none;
}

.help-menu .panels .helpDetails .window.visible {
    display: block;
}

.help-menu .panels .helpDetails .window h3 {
    font-size: 18px;
    font-weight: 500;
}

.help-menu .panels .helpDetails .window h4 {
    font-size: 16px;
    font-weight: 400;
}

.help-menu .panels .helpDetails .window .mainOl {
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.help-menu .panels .helpDetails .window .mainOl .mainListItem {
    list-style-position: inside;
    align-items: center; /* Align content vertically in the flex container */
    /* white-space: nowrap; */
}

/* .help-menu .panels .helpDetails .window .mainOl .mainListItem::before {
    content: '\2022';
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    text-align: right;
} */

.help-menu .panels .helpDetails .window .mainOl .mainListItem ol {
    list-style-type: upper-roman;
    margin-left: 30px;
    list-style-position: outside;
}

.help-menu .panels .helpDetails .window .mainOl .mainListItem img {
    width: 400px;
    height: auto;
    float: left;
    border: 4px solid #c8c8c8;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.help-menu .quotes {
    padding: 2px 5px;
    background: #dddddd;
    border-radius: 3px;
}

#fullscreenOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#fullscreenImage {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cameraModal.visible {
    display: block;
}
  
/* Center the modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
  
/* Style the capture button */
.modal-content button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    width: calc(100% - 182px);
    margin-right: 15px;
}

#remarks {
    width: 100%;
    /* padding: 4px 6px; */
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 14px;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.089);
    z-index: 1;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3px;
    border: 1px solid #c8c8c8;
    width: 100%;
}

.option {
    padding: 7px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 14px);
}

.option:hover {
    background-color: #ddd;
}

.dropdown-content.hide {
    display: none;
}

/* Add this to your existing CSS or in a separate file */
.search-container {
    display: flex;
    position: fixed;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 40px;
    height: 40px;
    padding: 0;
    width: 300px;
    background: #f1f8fe;
    box-shadow: 0px 10px 10px#f1f8fe;
}

.search-input {
    padding: 4px;
    width: 400px;
    height: fit-content;
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 14px;
    outline: none;
}

.search-container button {
    padding: 5px 4px;
    margin-left: -30px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 8px;
    background-color: #00000000;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#visitor-search {
    width: 200px;
}

#search-results {
    list-style-type: none;
    margin-top: 100px;
}

#search-results li form:hover {
    background-color: #f3f7f9;
}

@media screen and (max-width: 1360px) {
    .toolsAndPreview {
        height: fit-content;
    }
    
    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
    }
}

@media screen and (max-width: 920px) {    
    .tools {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    body.visitorPage {
        width: 100%;
    }

    .visitdetails {
        display: block;
    }

    .visitdetails .left {
        height: fit-content;
        width: calc(100% - 46px);
    }

    .visitdetails .left h4 {
        font-size: 18px;
    }

    .visitorForm .names,
    .visitdetails .left .container {
        height: 40px;
        width: 100%
    }
    
    .visitorForm .visitordetails .names .lastname,
    .visitorForm .visitordetails .names .firstname,
    .visitorForm .visitordetails .names .company,
    .visitorForm .visitordetails .names .id {
        padding: 5px;
    }
    
    .visitdetails .left .enterDetail {
        width: 100%;
        padding: 10px;
    }
    
    .names label,
    .container label {
        padding: 6px 4px 0 0;
        float: left;
        font-size: 11px;
        width: 80px;
        font-weight: 400;
    }
    
    .names label {
        width: 100px;
    }
    
    .names input,
    .container input,
    .photo-controls input,
    .footer input,
    .footer button {
        width: calc(100% - 90px);
        padding: 1px 2px;
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        background-color: #ffffff;
        font-size: 10px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .names input {
        width: calc(100% - 110px);
    }
    
    .photo-controls #live {
        background-color: #0078d4;
        color: white;
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-top: auto;
    }
    
    .buttons input,
    .footer input,
    .footer button {
        width: 70px;
    }
    
    #statusbtn {
        width: fit-content;
        background-color: #0078d4;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-top: auto;
        text-align: center;
    }
    
    .btn-status {
        justify-content: flex-end;
    }
    
    .right {
        width: calc(100% - 46px);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .right .visitor-photo {
        height: fit-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .right .outside {
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .photo-wrapper {
        height: fit-content;
    }
    
    .right .visitor-photo .photo-wrapper img {
        width: 100px;
        height: 100px;
        padding: 0;
        border-radius: 10px;
    }
    
    .right .visitor-photo .photo-controls {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .right .visitor-photo .photo-controls input {
        width: 50px;
        font-size: 10px;
        margin: 0 3px;
    }
    
    .right .visitor-photo .photo-controls input[type=file] {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    
    .right .visitor-photo .photo-controls .file-upload-label {
        padding: 4px 10px;
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        width: fit-content;
        background-color: #0078d4;
        color: white;
        margin-top: auto;
        text-align: center;
        cursor: pointer;
        display: inline-block;
    }
    
    .right .visitor-photo .photo-controls .file-upload-label:hover {
        background-color: #0072c9;
    }
    
    .right .photo-wrapper img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    
    .footer {
        width: calc(100% - 32px);
        height: 70px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
        padding: 8px;
    }
    
    .footer .approveOrReject, 
    .footer .saveOrCancel {
        width: 50%;
    }
    
    .footer .approveOrReject {
        display: flex;
        align-items: center;
        justify-content: space;
    }
    
    .footer .approveOrReject .accessed {
        background-color: #0078d4;
        color: white;
        margin-top: auto;
    }
    
    .footer .saveOrCancel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .footer .saveOrCancel .btn-save {
        margin-top: 6px;
    }
    
    .footer input  {
        margin: 0 4px;
    }

    .toolsAndPreview {
        height: 550px;
        width: 100%;
    }
    
    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 600px) {
    .tools {
        padding-top: 370px;
        /* padding-bottom: 50px; */
    }

    body.login {
        width: 100%;
    }

    .login .login-details {
        width: 100%;
    }

    .dashboard .header-logo,
    .login .login-details .logo-wrapper {
        width: 100%;
        height: auto;
    }

    .dashboard .header-logo .logo-image,
    .login .login-details .logo-wrapper .logo-image {
        width: 80%;
        height: auto;
    }

    .toolsAndPreview {
        height: 550px;
        width: 100%;
    }
    
    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }

    .contactMe .contactInfo {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .contactMe .contactInfo .socialLinks {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .linkText {
        display: none;
    }
    .dashboard-footer {
        bottom: 10px;
    }
}

@media screen and (max-width: 530px) {
    .tools .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 170px);
        gap: 30px;
        transform: scale(0.8);
    }

    .dashboard-footer {
        margin-bottom: 60px;
    }
    
    .contactMe .contactInfo {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .tools {
        padding-top: 500px;
        padding-bottom: 0;
    }

    body.login {
        width: 100%;
    }

    .login .login-details {
        width: 100%;
    }

    .dashboard .header-logo,
    .login .login-details .logo-wrapper {
        width: 100%;
        height: auto;
    }

    .dashboard .header-logo .logo-image,
    .login .login-details .logo-wrapper .logo-image {
        width: 80%;
        height: auto;
    }

    .popup {
        width: calc(100% - 32px);
        max-height: calc(100vh - 140px);
        margin: 0;
    }
    
    .popupHeader {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 330px) {
    .toolsAndPreview {
        height: 800px;
        width: 100%;
    }

    .tools .grid-container {
        width: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tools .grid-container .grid-item {
        width: calc(100% - 12px);
        height: fit-content;
        background-color: #ffffff;
        /* margin: 10px; */
        padding: 10px 0 20px 0;
        color: #006bce;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
        border: 1px solid #eeefe9;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}