<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css')}}' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>All Employees</title>
</head>
<body>
    <div class="user-list">
        <form action="{{ url_for('all_employees') }}" method="post">
            <div class="mainTableHeader">
                <div class="leftControls">
                    <a href="{{ url_for('dashboard') }}">
                        <button type="button" class="goBack">
                            <span><i class="ph-bold ph-arrow-left"></i></span>
                        </button>
                    </a>
                    {% if current_status == 'active' %}
                        <h1>Active Employees</h1>
                    {% elif current_status == 'inactive' %}
                        <h1>Inactive Employees</h1>
                    {% endif %}
                </div>
                <div class="operatingTools">
                    <div class="searchContainer">
                        <input type="text" id="searchInput" name="search_query" placeholder="Search..." value="{{ search_query }}">
                        <button type="submit"><i class="ph-bold ph-magnifying-glass"></i></button>
                    </div>
                    <button type="button" id="toggleStatusButton" onclick="toggleStatus()">
                        <span id="toggleButtonText">{{ toggle_button_text }}</span>
                    </button>
                    {% if current_status == 'active' %}
                        <button type="submit" name="deactivate_selected" class="deactivate" onclick="return confirm('Are you sure you want to deactivate the selected employees?')">
                            <i class="ph ph-x-circle"></i> <span>Deactivate</span>
                        </button>
                    {% elif current_status == 'inactive' %}
                        <button type="submit" name="activate_selected" class="activate" onclick="return confirm('Are you sure you want to activate the selected employees?')">
                            <i class="ph ph-check-circle"></i> <span>Activate</span>
                        </button>
                    {% endif %}
                    <a href="{{ url_for('new_employee') }}">
                        <button type="button" class="createUser">
                            <i class="ph ph-plus-circle"></i> <span>Create</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="outerContainer">
                <div class="table-container">
                    <table>
                        <thead class="tableHeadRow"> 
                            <tr>
                                <th><input type="checkbox" class="checkbox" id="masterCheckbox" onclick="toggleCheckboxes(this)"></th>
                                <th style="text-align: center;">#</th>
                                <th>Employee Number</th>
                                <th>Name with initials</th>
                                <th>Status</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for employee in employee_pagination.items %}
                            <tr style="cursor: pointer;" onclick="if(event.target.tagName !== 'INPUT') window.location='{{ url_for('get_employee_by_number', employeeNo=employee.employeeNo) }}';">
                                <td>
                                    <input type="checkbox" class="checkbox" name="employee_checkbox" value="{{ employee.id }}" {% if employee.id == current_user.id %} disabled {% endif %}>
                                </td>
                                <td style="text-align: center;">
                                    {% set row_number = (employee_pagination.page - 1) * employee_pagination.per_page + loop.index %}
                                    {{ row_number }}
                                </td>
                                <td>{{ employee.employeeNo }}</td>
                                <td>{{ employee.nameWithInitials }}</td>
                                <td>{{ 'Active' if employee.status else 'Inactive' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="pagination">
            {% if employee_pagination.has_prev %}
                <a href="{{ url_for('all_employees', page=employee_pagination.prev_num, status=current_status) }}" class="pagination-btn pagination-controls"><i class="ph ph-arrow-left"></i></a>
            {% endif %}
            {% for page_num in employee_pagination.iter_pages() %}
                {% if page_num %}
                    {% if page_num == employee_pagination.page %}
                        <p class="pagination-btn pagination-current">{{ page_num }}</p>
                    {% else %}
                        <a href="{{ url_for('all_employees', page=page_num, status=current_status) }}" class="pagination-btn">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            {% endfor %}
            <div class="pagination-container">
                <input type="text" id="pageNumberInput" placeholder="Enter page number...">
                <button type="button" onclick="gotoPage()"><i class="ph ph-arrow-elbow-down-left"></i></button>
            </div>
            {% if employee_pagination.has_next %}
                <a href="{{ url_for('all_employees', page=employee_pagination.next_num, status=current_status) }}" class="pagination-btn pagination-controls"><i class="ph ph-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function initializeEventListeners() {
                // Handle toggle status button
                const currentStatus = "{{ current_status }}";
                const toggleButtonText = document.getElementById('toggleButtonText');
                toggleButtonText.textContent = currentStatus === 'active' ? 'Show Inactive' : 'Show Active';

                document.getElementById('toggleStatusButton').addEventListener('click', toggleStatus);

                // Handle checkboxes
                const masterCheckbox = document.getElementById('masterCheckbox');
                if (masterCheckbox) {
                    masterCheckbox.addEventListener('click', function() {
                        toggleCheckboxes(masterCheckbox);
                    });
                }

                // Specific event listener for the deactivate/activate button
                document.querySelectorAll('button[name="deactivate_selected"], button[name="activate_selected"]').forEach(button => {
                    button.addEventListener('click', function(event) {
                        if (!confirm(this.innerText.includes('Deactivate') 
                            ? 'Are you sure you want to deactivate the selected users?' 
                            : 'Are you sure you want to activate the selected users?')) {
                            event.preventDefault();
                        }
                    });
                });
            }

            // Initial call to set up event listeners
            initializeEventListeners();

            // Handle form submission for search only
            document.querySelector('form').addEventListener('submit', function (event) {
                const isSearchButton = event.submitter && event.submitter.matches('[type="submit"]:not([name])');
                if (isSearchButton) {
                    event.preventDefault();
                    fetch(this.action, {
                        method: this.method,
                        body: new FormData(this),
                    })
                    .then(response => response.text())
                    .then(html => {
                        document.querySelector('.user-list').innerHTML = html;
                        // Reinitialize event listeners after updating content
                        initializeEventListeners();
                    });
                }
            });

            // Handle search input
            const searchInput = document.getElementById('searchInput');
            searchInput.addEventListener('input', function () {
                const searchText = this.value.trim().toLowerCase();
                const tableCells = document.querySelectorAll('.user-list td');
                tableCells.forEach(cell => {
                    const textContent = cell.textContent.trim().toLowerCase();
                    const highlightedText = textContent.replace(new RegExp(searchText, 'gi'), match => `<span class="highlight">${match}</span>`);
                    cell.innerHTML = highlightedText;
                });
            });

            // Function to toggle status
            function toggleStatus() {
                const currentStatus = "{{ current_status }}";
                const newStatus = currentStatus === 'active' ? 'inactive' : 'active';
                window.location.href = "{{ url_for('all_employees') }}?status=" + newStatus;
            }

            // Function to toggle all checkboxes
            function toggleCheckboxes(masterCheckbox) {
                const checkboxes = document.querySelectorAll('tbody input[name="employee_checkbox"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = masterCheckbox.checked;
                });
            }

            // Handle page navigation via input
            document.getElementById('pageNumberInput').addEventListener('keyup', function(event) {
                if (event.key === 'Enter') {
                    gotoPage();
                }
            });

            function gotoPage() {
                var pageNumber = document.getElementById('pageNumberInput').value;
                if (pageNumber && pageNumber > 0 && pageNumber <= {{ employee_pagination.pages }}) {
                    window.location.href = "{{ url_for('all_employees') }}?page=" + pageNumber + "&status={{ current_status }}";
                }
            }
        });
    </script>    
</body>
</html>
