<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css')}}' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>All Users</title>
</head>
<body bgcolor="#f3f3f3">
    <div class="user-list">
        <form action="{{ url_for('all_users') }}" method="post">
            <div class="mainTableHeader">
                <div class="leftControls">
                    <a href="{{ url_for('dashboard') }}">
                        <button type="button" class="goBack">
                            <span><i class="ph-bold ph-arrow-left"></i></span>
                        </button>
                    </a>
                    <h1>All Users</h1>
                </div>
                <div class="operatingTools">
                    <div class="searchContainer">
                        <input type="text" id="searchInput" name="search_query" placeholder="Search..." value="{{ search_query }}">
                        <button type="submit"><i class="ph-bold ph-magnifying-glass"></i></button>
                    </div>
                    <button type="submit" class="deleteUser" name="delete_selected" onclick="return confirmDelete()">
                        <span><i class="ph-bold ph-trash"></i></span> Delete User
                    </button>
                    <a href="{{ url_for('register') }}">
                        <button type="button" class="createUser">
                            <span><i class="ph-bold ph-plus-circle"></i> Create</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="outerContainer">
                <div class="table-container">
                    <table>
                        <thead class="tableHeadRow"> 
                            <tr>
                                <th><input type="checkbox" class="checkbox" id="masterCheckbox" onclick="toggleCheckboxes(this)"></th> <!-- Add an empty header for checkboxes -->
                                <th style="text-align: center;">#</th>
                                <!-- <th>ID</th> -->
                                <th>Username</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Telephone No</th>
                                <th>Level</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for user in users_pagination.items %}
                            <tr style="cursor: pointer;" onclick="if(event.target.tagName !== 'INPUT') window.location='{{ url_for('get_user_by_username', username=user.username) }}';">
                                <td>
                                    <input type="checkbox" class="checkbox" name="user_checkbox" value="{{ user.id }}" {% if user.id == current_user.id %} disabled {% endif %}>
                                </td>
                                <td style="text-align: center;">
                                    {% set row_number = (users_pagination.page - 1) * users_pagination.per_page + loop.index %}
                                    {{ row_number }}
                                </td>  <!-- Display the row number -->
                                <!-- <td>{{ user.id }}</td> -->
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.telephoneNo }}</td>
                                <td>{{ user.level }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="pagination">
            {% if users_pagination.has_prev %}
                <a href="{{ url_for('all_users', page=users_pagination.prev_num) }}" class="pagination-btn pagination-controls"><i class="ph ph-arrow-left"></i></a>
            {% endif %}
            {% for page_num in users_pagination.iter_pages() %}
                {% if page_num %}
                    {% if page_num == users_pagination.page %}
                        <p class="pagination-btn pagination-current">{{ page_num }}</p>
                    {% else %}
                        <a href="{{ url_for('all_users', page=page_num) }}" class="pagination-btn">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            {% endfor %}
            <div class="pagination-container">
                <input type="text" id="pageNumberInput" placeholder="Enter page number...">
                <button type="button" onclick="gotoPage()"><i class="ph ph-arrow-elbow-down-left"></i></button>
            </div>
            {% if users_pagination.has_next %}
                <a href="{{ url_for('all_users', page=users_pagination.next_num) }}" class="pagination-btn pagination-controls"><i class="ph ph-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('form').addEventListener('submit', function (event) {
                event.preventDefault();
                fetch(this.action, {
                    method: this.method,
                    body: new FormData(this),
                })
                .then(response => response.text())
                .then(html => {
                    document.querySelector('.user-list').innerHTML = html;
                });
            });
    
            const searchInput = document.getElementById('searchInput');
            const tableCells = document.querySelectorAll('.user-list td');
    
            searchInput.addEventListener('input', function () {
                const searchText = this.value.trim().toLowerCase();
    
                tableCells.forEach(cell => {
                    const textContent = cell.textContent.trim().toLowerCase();
                    const highlightedText = textContent.replace(new RegExp(searchText, 'gi'), match => `<span class="highlight">${match}</span>`);
                    cell.innerHTML = highlightedText;
                });
            });
        });
    
        function toggleCheckboxes(masterCheckbox) {
            const checkboxes = document.querySelectorAll('tbody input[name="user_checkbox"]');
            checkboxes.forEach(checkbox => {
                if (!isAdminRow(checkbox)) {
                    checkbox.checked = masterCheckbox.checked;
                    setCheckboxName(checkbox);
                }
            });
        }

        function isAdminRow(checkbox) {
            const row = checkbox.closest('tr');
            const levelCell = row.querySelector('td:last-child');
            return levelCell && levelCell.textContent.trim().toLowerCase() === 'admin';
        }

        function setCheckboxName(checkbox) {
            const row = checkbox.closest('tr');
            const levelCell = row.querySelector('td:last-child');
            
            if (levelCell && levelCell.textContent.trim().toLowerCase() === 'admin') {
                checkbox.setAttribute('name', 'AdminCheckbox');
            } else {
                checkbox.setAttribute('name', 'user_checkbox');
            }
        }

        function confirmDelete() {
            return confirm("Are you sure you want to delete the selected users?");
        }

        function gotoPage() {
            var pageNumber = document.getElementById('pageNumberInput').value;
            
            // Ensure the page number is valid and within bounds
            if (pageNumber && pageNumber > 0 && pageNumber <= {{ users_pagination.pages }}) {
                window.location.href = "{{ url_for('all_users') }}?page=" + pageNumber;
            }
        }

        // Allow pressing enter to submit the page number
        document.getElementById('pageNumberInput').addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                gotoPage();
            }
        });
    </script>    
</body>
</html>
