<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css')}}' />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Dashboard</title>
</head>

<body class="dashboard">
    <div class="header-logo">
        <img class="logo-image" src="{{ url_for('static', filename='logo.jpg') }}" alt="Dayartne Holdings Logo">
    </div>
    <div class="toolsAndPreview">
        <div class="tools">
            <div class="grid-container">
                <!-- New Visitor -->
                {% if current_user.level in ['Admin', 'Approver', 'Requester'] %}
                    <div class="grid-item">
                        <span><i class="ph ph-plus-circle"></i></span>
                        <h3>New Visitor</h3>
                        <a href="{{ url_for('new_visitor') }}"><button type="button">Create</button></a>
                    </div>
                {% endif %}

                <!-- Arrive Visitor -->
                {% if current_user.level == 'Gate' %}
                    <div class="grid-item">
                        <span><i class="ph ph-arrow-circle-right"></i></span>
                        <h3>Arrive Visitor</h3>
                        <button type="button" id="showApprovedList" onclick="openShowApprovedList()"><i class="ph ph-arrow-right"></i></button>
                    </div>
                {% endif %}

                <!-- Depart Visitor -->
                {% if current_user.level == 'Gate' %}
                    <div class="grid-item">
                        <span><i class="ph ph-check-circle"></i></span>
                        <h3>Depart Visitor</h3>
                        <button type="button" id="showArrivedList" onclick="openArrivedList()"><i class="ph ph-arrow-right"></i></button>
                    </div>
                {% endif %}

                <!-- Approve Visitor -->
                {% if current_user.level == 'Admin' or current_user.level == 'Approver' %}
                    <div class="grid-item">
                        <span><i class="ph ph-paper-plane-tilt"></i></span>
                        <h3>Approve Visitor</h3>
                        <button type="button" id="showToApproveList" onclick="openToApproveList()"><i class="ph ph-arrow-right"></i></button>
                    </div>
                {% endif %}

                <!-- Create User -->
                {% if current_user.level == 'Admin' %}
                    <div class="grid-item">
                        <span><i class="ph ph-user-circle-plus"></i></span>
                        <h3>Create User</h3>
                        <a href="{{ url_for('register') }}"><button type="button">Create</button></a>
                    </div>
                {% endif %}

                <!-- Delete User -->
                {% if current_user.level == 'Admin' %}
                    <div class="grid-item">
                        <span><i class="ph ph-user-circle-minus"></i></span>
                        <h3>Delete User</h3>
                        <button type="button">Delete</button>
                    </div>
                {% endif %}

                <!-- Reports -->
                {% if current_user.level == 'Admin' %}
                    <div class="grid-item">
                        <span><i class="ph ph-scroll"></i></span>
                        <h3>Reports</h3>
                        <button type="button">Save</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="overlay" id="pendingApprovaloverlay" onclick="closeShowApprovedList()"></div>
        <div class="popup" id="pendingApproval">
            <div class="popupHeader">
                <h3>Approved Visitor List</h3>
                <button onclick="closeShowApprovedList()"><i class="ph ph-x"></i></button>
            </div>
            <ul class="toApprove">
                {% for visitor in approved_visitor_numbers %}
                    <li>
                        <form method="post" action="{{ url_for('arrive_visitor') }}">
                            <input type="hidden" name="visitor_no" value="{{ visitor }}">
                            <button type="submit">{{ visitor }}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="overlay" id="ApprovedVisitorsoverlay" onclick="closeToApproveList()"></div>
        <div class="popup" id="ApprovedVisitors">
            <div class="popupHeader">
                <h3>Pending Approval Visitor List</h3>
                <button onclick="closeToApproveList()"><i class="ph ph-x"></i></button>
            </div>
            <ul class="toApprove">
                {% for visitor in pending_visitor_numbers %}
                    <li>
                        <form method="post" action="{{ url_for('get_visitor') }}">
                            <input type="hidden" name="visitor_no" value="{{ visitor }}">
                            <button type="submit">{{ visitor }}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="overlay" id="arrivedOverlay" onclick="closeArrivedList()"></div>
        <div class="popup" id="arrivedVisitors">
            <div class="popupHeader">
                <h3>Arrived Visitor List</h3>
                <button onclick="closeArrivedList()"><i class="ph ph-x"></i></button>
            </div>
            <ul class="toApprove">
                {% for visitor in arrived_visitor_numbers %}
                    <li>
                        <form method="post" action="{{ url_for('depart_visitor') }}">
                            <input type="hidden" name="visitor_no" value="{{ visitor }}">
                            <button type="submit">{{ visitor }}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        function openShowApprovedList() {
            document.getElementById('pendingApprovaloverlay').classList.add('visible');
            document.getElementById('pendingApproval').classList.add('visible');
        }

        function closeShowApprovedList() {
            document.getElementById('pendingApprovaloverlay').classList.remove('visible');
            document.getElementById('pendingApproval').classList.remove('visible');
        }

        function openToApproveList() {
            document.getElementById('ApprovedVisitorsoverlay').classList.add('visible');
            document.getElementById('ApprovedVisitors').classList.add('visible');
        }

        function closeToApproveList() {
            document.getElementById('ApprovedVisitorsoverlay').classList.remove('visible');
            document.getElementById('ApprovedVisitors').classList.remove('visible');
        }

        function openArrivedList() {
            document.getElementById('ApprovedVisitorsoverlay').classList.add('visible');
            document.getElementById('arrivedVisitors').classList.add('visible');
        }

        function closeArrivedList() {
            document.getElementById('ApprovedVisitorsoverlay').classList.remove('visible');
            document.getElementById('arrivedVisitors').classList.remove('visible');
        }
    </script>    
</body>
</html>