<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <title>Register</title>
</head>

<body class="register">
    <div class="content login">
        <form method="POST" action="{{ url_for('update_user') }}" class="login-details">
            <div class="logo-wrapper">
                <img class="logo-image" src="{{ url_for('static', filename='logo.jpg') }}" alt="Dayartne Holdings Logo">
            </div>
            <div class="twosections">
                <div class="section">
                    <div class="form-sections">
                        <h4 class="input-head">Username</h4>
                        <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
                    </div>
                    <br>
                    <div class="form-sections">
                        <h4 class="input-head">Password</h4>
                        <input type="text" id="password" name="password" value="{{ user.password }}">
                    </div>
                    <br>
                    <div class="form-sections">
                        <h4 class="input-head">E-mail</h4>
                        <input type="text" id="email" name="email" value="{{ user.email }}">
                    </div>
                </div>
                <div class="section">
                    <div class="form-sections">
                        <h4 class="input-head">Name</h4>
                        <input type="text" id="name" name="name" value="{{ user.name }}">
                    </div>
                    <br>
                    <div class="form-sections">
                        <h4 class="input-head">Telephone Number</h4>
                        <input type="text" id="telephoneNo" name="telephoneNo" value="{{ user.telephoneNo }}">
                    </div>
                    <br>
                    <div class="form-sections">
                        <h4 class="input-head">User Level</h4>
                        <input type="text" id="level" name="level" value="{{ user.level }}">
                    </div>
                </div>
            </div>
            <div class="form-sections submit">
                <input type="submit" class="login-btn" value="Update">
            </div>
        </form>
    </div>
</body>
</html>