<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css')}}' />
    <title>Vistor Form</title>
</head>

<body class="visitorPage">
    <div class="content visitor">
        <form method="POST" action="{{ url_for('get_visitor', visitor_no=visitor.visitorNo) }}" class="visitorForm">
            
            <div class="visitordetails">
                <div class="names">
                    <div class="lastname">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" value="{{ visitor.lastName }}" readonly>
                    </div>
                    <div class="firstname">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" value="{{ visitor.firstName }}" readonly>
                    </div>
                </div>
                <div class="names">
                    <div class="company">
                        <label for="companyName">Company Name</label>
                        <input type="text" id="companyName" name="companyName" value="{{ visitor.companyName }}" readonly>
                    </div>
                    <div class="id">
                        <label for="VisitorId">Visitor Id</label>
                        <input type="text" id="VisitorId" name="VisitorId" value="{{ visitor.visitorId }}" readonly>
                    </div>
                </div>
            </div>
            <div class="visitdetails">
                <div class="left">
                    <h4>Visit Details</h4>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="arrivingDate">Arriving Date</label>
                            <input type="tect" id="arrivingDate" name="arrivingDate" value="{{ visitor.arrivingDate }}" readonly>
                        </div>
                        <div class="enterDetail">
                            <label for="arrivingTime">Arriving Time</label>
                            <input type="text" id="arrivingTime" name="arrivingTime" value="{{ visitor.arrivingTime }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="departingDate">Departing Date</label>
                            <input type="tect" id="departingDate" name="departingDate" value="{{ visitor.departingDate }}" readonly>
                        </div>
                        <div class="enterDetail">
                            <label for="departingTime">Departing Time</label>
                            <input type="text" id="departingTime" name="departingTime" value="{{ visitor.departingTime }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="vehicleNo">Vehicle No.</label>
                            <input type="text" id="vehicleNo" name="vehicleNo" value="{{ visitor.vehicleNo }}" readonly>
                        </div>
                        <div class="enterDetail">
                            <label for="visitorNo">Visitor No.</label>
                            <input type="text" id="visitorNo" name="visitorNo" value="{{ visitor.visitorNo }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" id="phoneNumber" name="phoneNumber" value="{{ visitor.phoneNumber }}" readonly>
                        </div>
                        <div class="enterDetail">
                            <label for="emailAddress">E-mail Address</label>
                            <input type="text" id="emailAddress" name="emailAddress" value="{{ visitor.emailAddress }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="requester">Requester</label>
                            <input type="text" id="requester" name="requester" value="{{ visitor.requester }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="noOfVisitors">No. of visitors</label>
                            <input type="text" id="noOfVisitors" name="noOfVisitors" value="{{ visitor.noOfVisitors }}" readonly>
                        </div>
                    </div>
                    <div class="container">
                        <div class="enterDetail">
                            <label for="remarks">Remarks</label>
                            <input type="text" id="remarks" name="remarks" value="{{ visitor.remarks }}" readonly>
                        </div>
                    </div>
                    <div class="container single">
                        <div class="enterDetail">
                            <label for="history">History</label>
                            <input type="text" id="history" name="history" value="{{ visitor.history }}" readonly>
                        </div>
                    </div>
                    <div class="container buttons">
                        <div class="enterDetail">
                            <label for="statusbtn">Visitor Status</label>
                            <input type="button" id="statusbtn" name="statusbtn" style="cursor: auto;" value="{{ visitor.status }}" readonly>
                            <input type="button" class="btn-status" id="arrived" value="Arrived" disabled>
                            <input type="button" class="btn-status" id="departed" value="Departed" disabled>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="visitor-photo">
                        <div class="photo-wrapper">
                            <img src="data:image/jpeg;base64,{{ profile_photo_data }}" alt="visitor photo">
                        </div>
                        <div class="photo-controls">
                            <input type="button" class="btn-live" id="live" value="Live" disabled>
                            <input type="button" class="btn-import" id="import" value="Import" disabled>
                        </div>
                    </div>
                    <div class="visitor-photo">
                        <div class="photo-wrapper outside">
                            <img src="/static/logo2.jpg" alt="visitor photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="approveOrReject">
                    <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                    <a href="{{ url_for('dashboard') }}"><button type="submit" class="btn-approve accessed" name="changeStatus" value="Approve">Approve</button></a>
                    <a href="{{ url_for('dashboard') }}"><button type="submit" class="btn-reject" name="changeStatus" value="Reject">Reject</button></a>
                </div>
                <div class="saveOrCancel">
                    <input type="button" class="btn-save" id="save" value="Save"disabled>
                    <a href="{{ url_for('dashboard') }}"><input type="button" class="btn-cancel" id="cancel" value="Cancel"></a>
                </div>
            </div>
            <!-- <ul class="toApprove">
                {% for visitor in visitors %}
                    <li><a href="#">{{ visitor.visitor_Id }}</a></li>
                {% endfor %}
            </ul> -->
        </form>
    </div>
    <script>
        // function openOutlook() {
        //         var subject = "Visitor Approval - {{ visitor.visitorNo }}";
        //         var body = "Last Name: {{ visitor.lastName }}\n" +
        //             "First Name: {{ visitor.firstName }}\n" +
        //             "Company Name: {{ visitor.companyName }}\n" +
        //             "Visitor ID: {{ visitor.visitorId }}\n" +
        //             "Arriving Date: {{ visitor.arrivingDate }}\n" +
        //             "Arriving Time: {{ visitor.arrivingTime }}"
        //             // Add other fields as needed

        //         var outlookLink = "https://outlook.office.com/mail/compose?subject=" + encodeURIComponent(subject) +
        //             "&body=" + encodeURIComponent(body);

        //         // Open Outlook website in a new tab or window
        //         window.open(outlookLink, '_blank');
        //     }
    </script>
</body>
</html>