<div class="popup" id="editVisitorRequest">
    <div class="popupHeader">
        <h3>Edit Visitor Request</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for visitor in g.request_list %}
        <li>
            <form method="post" action="{{ url_for('edit_request') }}">
                <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="monospaced">{{ visitor.visitorNo }}</span><span>{{ visitor.requester }}</span>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="pendingApproval">
    <div class="popupHeader">
        <h3>Pending Approval Visitor List</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for visitor in g.pending_visitors %}
        <li>
            <form method="post" action="{{ url_for('get_visitor') }}">
                <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="monospaced">{{ visitor.visitorNo }}</span><span>{{ visitor.requester }}</span>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="ApprovedVisitors">
    <div class="popupHeader">
        <h3>Approved Visitor List</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for visitor in g.approved_visitors %}
        <li>
            <form method="post" action="{{ url_for('arrive_visitor') }}">
                <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                {% if visitor.profilePhoto == 'none' %}
                <img src="{{ url_for('static', filename='visitor-photo.png') }}" alt="Default Photo">
                {% elif visitor.profilePhoto %}
                <img src="{{ url_for('serve_uploaded_image', filename=visitor.profilePhoto) }}" alt="Visitor Photo">
                {% endif %}
                <button type="submit" class="monospaced">{{ visitor.visitorNo }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="arrivedVisitors">
    <div class="popupHeader">
        <h3>Arrived Visitor List</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for visitor in g.arrived_visitors %}
        <li>
            <form method="post" action="{{ url_for('depart_visitor') }}">
                <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                {% if visitor.profilePhoto == 'none' %}
                <img src="{{ url_for('static', filename='visitor-photo.png') }}" alt="Default Photo">
                {% elif visitor.profilePhoto %}
                <img src="{{ url_for('serve_uploaded_image', filename=visitor.profilePhoto) }}" alt="Visitor Photo">
                {% endif %}
                <button type="submit" class="monospaced">{{ visitor.visitorNo }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="visitorsList">
    <div class="popupHeader">
        <h3>Visitor List</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <div class="search-container">
        <input type="text" id="visitor-search" class="search-input" placeholder="Search..."
            style="width: calc(100% - 10px);">
        <button type="button" onclick="performSearch()">
            <i class="ph-bold ph-magnifying-glass"></i>
        </button>
    </div>
    <ul class="toApprove" id="search-results">
        {% for visitor in g.visitors_list %}
        <li class="visitor-item">
            <form method="post" action="{{ url_for('visitor', visitor_no=visitor.visitorNo) }}">
                <input type="hidden" name="visitor_no" value="{{ visitor.visitorNo }}">
                {% if visitor.profilePhoto == 'none' %}
                <img src="{{ url_for('static', filename='visitor-photo.png') }}" alt="Default Photo">
                {% elif visitor.profilePhoto %}
                <img src="{{ url_for('serve_uploaded_image', filename=visitor.profilePhoto) }}" alt="Visitor Photo">
                {% endif %}
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ visitor.visitorNo }}</span>
                    {% if visitor.companyName %}
                    <span class="visitorsListDetail">{{ visitor.companyName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if visitor.arrivedTime %}
                    <span class="visitorsListDetail monospaced">{{ visitor.arrivedTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if visitor.departedTime %}
                    <span class="visitorsListDetail monospaced">{{ visitor.departedTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    <span class="visitorsListDetail">{{ visitor.status }}</span>
                </button>
            </form>
            <div class="detail-box">
                <div class="detail-box-row">
                    <span>Visitor No:</span><span class="monospaced"> {{ visitor.visitorNo }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Company Name:</span><span> {{ visitor.companyName or '-' }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Arrived Time:</span><span class="monospaced"> {{ visitor.arrivedTime or '-' }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Departed Time:</span><span class="monospaced"> {{ visitor.departedTime or '-' }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Status:</span><span> {{ visitor.status }} </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>





<div class="popup" id="requestGatePassList">
    <div class="popupHeader">
        <h3>Pending Gate Passes</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for employee in g.pending_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('approve_gatepass') }}">
                <input type="hidden" name="gatePassId" value="{{ employee.gatePassId }}">
                <input type="hidden" name="employeeFormStatus" value="{{ employee.employeeFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ employee.employeeNo }}</span>
                    {% if employee.employeeName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ employee.employeeName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if employee.employeeDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ employee.employeeDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="approvedGatePassList">
    <div class="popupHeader">
        <h3>Approved Gate Passes</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for employee in g.approved_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('confirm_gatepass') }}">
                <input type="hidden" name="gatePassId" value="{{ employee.gatePassId }}">
                <input type="hidden" name="employeeFormStatus" value="{{ employee.employeeFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ employee.employeeNo }}</span>
                    {% if employee.employeeName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ employee.employeeName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if employee.employeeDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ employee.employeeDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="confirmedGatePassList">
    <div class="popupHeader">
        <h3>Confirmed Gate Passes</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for employee in g.confirmed_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('out_gatepass') }}">
                <input type="hidden" name="gatePassId" value="{{ employee.gatePassId }}">
                <input type="hidden" name="employeeFormStatus" value="{{ employee.employeeFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ employee.employeeNo }}</span>
                    {% if employee.employeeName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ employee.employeeName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if employee.employeeDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ employee.employeeDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="departedGatePassList">
    <div class="popupHeader">
        <h3>Departed Gate Passes</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for employee in g.departed_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('in_gatepass') }}">
                <input type="hidden" name="gatePassId" value="{{ employee.gatePassId }}">
                <input type="hidden" name="employeeFormStatus" value="{{ employee.employeeFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ employee.employeeNo }}</span>
                    {% if employee.employeeName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ employee.employeeName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if employee.employeeDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ employee.employeeDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="editGatePassList">
    <div class="popupHeader">
        <h3>Edit Gate Pass</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for employee in g.edit_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('edit_gatepass') }}">
                <input type="hidden" name="gatePassId" value="{{ employee.gatePassId }}">
                <input type="hidden" name="employeeFormStatus" value="{{ employee.employeeFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ employee.employeeNo }}</span>
                    {% if employee.employeeName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ employee.employeeName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if employee.employeeDepartingTime %}
                    <span class="visitorsListDetai monospaced">{{ employee.employeeDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="popup" id="requestedDriverGatePassList">
    <div class="popupHeader">
        <h3>Mark Driver Gate Pass out</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for driver in g.requested_driver_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('out_drivergatepass') }}">
                <input type="hidden" name="driverGatePassId" value="{{ driver.driverGatePassId }}">
                <input type="hidden" name="driverFormStatus" value="{{ driver.driverFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ driver.driverNo }}</span>
                    {% if driver.driverName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ driver.driverName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if driver.driverDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ driver.driverDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="outDriverGatePassList">
    <div class="popupHeader">
        <h3>Mark Driver Gate Pass In</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for driver in g.departed_driver_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('in_drivergatepass') }}">
                <input type="hidden" name="driverGatePassId" value="{{ driver.driverGatePassId }}">
                <input type="hidden" name="driverFormStatus" value="{{ driver.driverFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ driver.driverNo }}</span>
                    {% if driver.driverName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ driver.driverName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if driver.driverDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ driver.driverDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="editDriverGatePassList">
    <div class="popupHeader">
        <h3>Mark Driver Gate Pass out</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <ul class="toApprove">
        {% for driver in g.edit_driver_gate_pass %}
        <li>
            <form method="post" action="{{ url_for('edit_drivergatepass') }}">
                <input type="hidden" name="driverGatePassId" value="{{ driver.driverGatePassId }}">
                <input type="hidden" name="driverFormStatus" value="{{ driver.driverFormStatus }}">
                <button type="submit" style="display: flex; align-items: center; justify-content: space-between;">
                    <span class="visitorsListDetail monospaced">{{ driver.driverNo }}</span>
                    {% if driver.driverName %}
                    <span class="visitorsListDetail" style="flex:5;">{{ driver.driverName }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                    {% if driver.driverDepartingTime %}
                    <span class="visitorsListDetail monospaced">{{ driver.driverDepartingTime }}</span>
                    {% else %}
                    <span class="visitorsListDetail" style="text-align: center !important;">-</span>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="popup" id="gatePassForms">
    <div class="popupHeader">
        <h3>Gate Pass Forms List</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <div class="search-container">
        <input type="text" id="visitor-search" class="search-input" placeholder="Search..."
            style="width: calc(100% - 10px);">
        <button type="button" onclick="performSearch()">
            <i class="ph-bold ph-magnifying-glass"></i>
        </button>
    </div>
    <ul class="toApprove" id="search-results">
        {% for gate_pass in g.gate_pass_forms %}
        <li class="visitor-item">
            <form method="post" action="{{ url_for('gate_pass_form', gatePassId=gate_pass.gatePassId) }}">
                <input type="hidden" name="gatePassId" value="{{ gate_pass.gatePassId }}">
                <span class="visitorsListDetail monospaced">{{ gate_pass.employeeNo }}</span>
                {% if gate_pass.employeeName %}
                <span class="visitorsListDetail">{{ gate_pass.employeeName }}</span>
                {% else %}
                <span class="visitorsListDetail centered-details">-</span>
                {% endif %}
                {% if gate_pass.employeeDepartingTime %}
                <span class="visitorsListDetail centered-details monospaced">{{ gate_pass.employeeDepartingTime
                    }}</span>
                {% else %}
                <span class="visitorsListDetail centered-details">-</span>
                {% endif %}
                {% if gate_pass.employeeArrivalTime %}
                <span class="visitorsListDetail centered-details monospaced">{{ gate_pass.employeeArrivalTime }}</span>
                {% else %}
                <span class="visitorsListDetail centered-details">-</span>
                {% endif %}
                <span class="visitorsListDetail">{{ gate_pass.employeeFormStatus }}</span>
                </button>
            </form>
            <div class="detail-box">
                <div class="detail-box-row">
                    <span>Employee No:</span><span class="monospaced"> {{ gate_pass.employeeNo }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Employee Name:</span><span> {{ gate_pass.employeeName or '-' }} </span>
                </div>
                <div class="detail-box-row">
                    <span>Departing Time:</span><span class="monospaced"> {{ gate_pass.employeeDepartingTime or '-' }}
                    </span>
                </div>
                <div class="detail-box-row">
                    <span>Arriving Time:</span><span class="monospaced"> {{ gate_pass.employeeArrivalTime or '-' }}
                    </span>
                </div>
                <div class="detail-box-row">
                    <span>Status:</span><span> {{ gate_pass.employeeFormStatus }} </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>




<div class="popup" id="reportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Export Reports</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <div class="reportButtonsContainer">
        <form action="/export_excel/user" method="POST" class="excelExportBtns">
            <span><i class="ph ph-user-list"></i></span>
            <h5>User Report</h5>
            <button type="submit">Export</button>
        </form>
        <div class="excelExportBtns" onclick="togglePopup('visitorReportButtons')">
            <span><i class="ph ph-user-square"></i></span>
            <h5>Visitor Reports</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('gatePassReportButtons')">
            <span><i class="ph ph-door"></i></span>
            <h5>Gate Pass Search</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('gatePassListReportButtons')">
            <span><i class="ph ph-door"></i></span>
            <h5>Gate Pass List</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('driverGatePassReportButtons')">
            <span><i class="ph ph-car"></i></span>
            <h5>Driver Gate Pass Search</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('driverGatePassListReportButtons')">
            <span><i class="ph ph-car"></i></span>
            <h5>Driver Gate Pass List</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('driverAttendanceReportButtons')">
            <span><i class="ph ph-calendar-dots"></i></span>
            <h5>Driver Attendance</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('driverVehicleReportButtons')">
            <span><i class="ph ph-traffic-cone"></i></span>
            <h5>Vehicle Report</h5>
            <button type="button">Create</button>
        </div>
        <div class="excelExportBtns" onclick="togglePopup('driverVehicleListReportButtons')">
            <span><i class="ph ph-traffic-cone"></i></span>
            <h5>Vehicle List Report</h5>
            <button type="button">Create</button>
        </div>
    </div>
</div>

<div class="popup" id="visitorReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/visitor" method="POST" class="excelExportVisitorBtns">
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportVisitorExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="gatePassReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration For Employee</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/employee_gate_pass" method="POST" class="excelExportVisitorBtns">
        <div class="employeeNoForReport excelTimeDuration">
            <label for="reportEmployeeNo">Employee Number</label>
            <input type="text" id="reportEmployeeNo" name="reportEmployeeNo" class="monospaced">
        </div>
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportEmployeeGatePassExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="gatePassListReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration (Driver Gate Pass)</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/gate_pass_list" method="POST" class="excelExportVisitorBtns">
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportGatePassListExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="driverGatePassReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration for Driver</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/driver_gate_pass" method="POST" class="excelExportVisitorBtns">
        <div class="driverNoForReport excelTimeDuration">
            <label for="reportDriverNo">Driver Number</label>
            <input type="text" id="reportDriverNo" name="reportDriverNo" class="monospaced">
        </div>
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportDriverGatePassExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="driverGatePassListReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration (Driver Gate Pass List)</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/driver_gate_pass_list" method="POST" class="excelExportVisitorBtns">
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportDriverGatePassExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="driverAttendanceReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration for Attendance Report</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/driver_attendance" method="POST" class="excelExportVisitorBtns">
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')">
                <i class="ph ph-arrow-left"></i>
            </button>
            <input type="submit" class="exportVisitorExcel" id="exportDriverAttendanceExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="driverVehicleListReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration for Vehicle</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/driver_vehicle_list" method="POST" class="excelExportVisitorBtns">
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')">
                <i class="ph ph-arrow-left"></i>
            </button>
            <input type="submit" class="exportVisitorExcel" id="exportDriverAttendanceExcel" value="Export">
        </div>
    </form>
</div>

<div class="popup" id="driverVehicleReportButtons">
    <div class="popupHeader" style="position: relative; width: 100%;">
        <h3>Set Duration for Driver</h3>
        <button onclick="closeCurrentPopup()"><i class="ph ph-x"></i></button>
    </div>
    <form action="/export_excel/driver_vehicle_report" method="POST" class="excelExportVisitorBtns">
        <div class="driverNoForReport excelTimeDuration">
            <label for="reportVehicleNo">Vehicle Number</label>
            <input type="text" id="reportVehicleNo" name="reportVehicleNo" class="monospaced">
        </div>
        <div class="startDate excelTimeDuration">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="monospaced">
        </div>
        <div class="endDate excelTimeDuration">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="monospaced">
        </div>
        <div class="exportAndBack">
            <button type="button" class="exportVisitorExcel" onclick="togglePopup('reportButtons')"><i
                    class="ph ph-arrow-left"></i></button>
            <input type="submit" class="exportVisitorExcel" id="exportDriverGatePassExcel" value="Export">
        </div>
    </form>
</div>

<div id="profileMenu" class="popup">
    <ul class="additionalLinks">
        <li class="profileLinks">
            <a href="{{ url_for('change_password') }}" id="changePasswordLink">
                <span class="nav-icon">
                    <i class="ph-bold ph-password"></i>
                </span>
                Change Password
            </a>
        </li>
    </ul>
</div>

<div id="notificationsMenu" class="popup">
    <div class="reminderPopupHeader">
        <h3 style="margin-top: 10px;">Notifications</h3>
        <button class="closeReminderPopup" id="closeReminderPopup" title="Close Reminder" onclick="closeCurrentPopup()">
            <i class="ph ph-x"></i>
        </button>
    </div>
    <ul class="additionalLinks">
        <li class="profileLinks">
            <!-- Visitor Request Reminder -->
            {% if not g.there_are_notification %}
            <div class="empty-reminder" id="emptyreminder">
                There are no new notifications
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Visitor Request Reminder -->
            {% if g.visitor_requests_reminder %}
            <div class="requests-reminder" id="visitorReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are pending visitor requests.</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showToApproveList2" onclick="togglePopup('pendingApproval')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Gate Pass Reminder -->
            {% if g.gate_pass_requests_reminder %}
            <div class="requests-reminder" id="gatePassReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are pending exit permit requests.</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showGatePassRequestList2" onclick="togglePopup('requestGatePassList')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Visitor Gate Reminder -->
            {% if g.visitor_gate_reminder %}
            <div class="requests-reminder" id="visitorGateReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are approved visitor requests.</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showAnotherRequestList2" onclick="togglePopup('ApprovedVisitors')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Gate Pass Gate Reminder -->
            {% if g.gate_pass_gate_reminder %}
            <div class="requests-reminder" id="gatePassGateReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are confirmed exit permits.</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showAnotherRequestList1" onclick="togglePopup('confirmedGatePassList')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Gate Pass Gate Reminder -->
            {% if g.approved_gate_pass_reminder %}
            <div class="requests-reminder" id="approvedGatePassReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are Approved exit permits.</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showAnotherRequestList1" onclick="togglePopup('approvedGatePassList')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
        <li class="profileLinks">
            <!-- Gate Pass Gate Reminder -->
            {% if g.requested_driver_gate_pass_gate_reminder %}
            <div class="requests-reminder" id="requestedGatePassReminder">
                <div class="text-container">
                    <h3>Reminder</h3>
                    <p class="reminder-message">There are Requested driver gate passes</p>
                </div>
                <div class="nav-btn-container">
                    <button type="button" id="showAnotherRequestList1"
                        onclick="togglePopup('requestedDriverGatePassList')"><i
                            class="ph-fill ph-arrow-circle-right"></i></button>
                </div>
            </div>
            {% endif %}
        </li>
    </ul>
</div>