<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="../static/style.css"> -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.png') }}"
            type="image/x-icon" />
        <title>Gate Pass Form</title>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    </head>

    <body class="gatePassPage">
        {% extends 'base.html' %} {% block content %}
        <h1 class="gate-pass-title">Mark Attendance</h1>

        <form
            action="{{ url_for('mark_attendance') }}"
            method="POST"
            class="gate-pass-form">
            <div class="main-form-container">
                <div class="bottom-employee-datails">
                    <div class="name-id gate-pass-detail-block">
                        <div class="employee-id-container gate-pass-input-container" style="width: 50%">
                            <label for="employeeNo">Employee ID</label>
                            <div class="dropdown">
                                <input
                                    type="text"
                                    id="driverNo"
                                    name="driverNo"
                                    title="Driver ID"
                                    onkeyup="filterDropdown()"
                                    placeholder="Search Driver ID"
                                    required />
                                <div
                                    class="dropdown-content"
                                    id="dropdownOptions">
                                    {% for driver in driver_list %}
                                    <input
                                        type="hidden"
                                        id="driverName_{{ driver.employeeNo }}"
                                        value="{{ driver.nameWithInitials }}" />
                                    <div
                                        class="option"
                                        onclick="selectOption('{{ driver.employeeNo }}')">
                                        {{ driver.employeeNo }}
                                    </div>
                                    {% else %}
                                    <div class="option">
                                        No drivers available
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div
                            class="employee-name gate-pass-input-container"
                            style="width: 50%">
                            <label for="driverName">Driver Name</label>
                            <input
                                type="text"
                                id="driverName"
                                name="driverName"
                                title="Driver Name"
                                readonly />
                        </div>
                    </div>

                    <div class="time-period gate-pass-detail-block">
                        <div
                            class="employee-arrival-time gate-pass-input-container">
                            <label for="currentTime">Current Time</label>
                            <input
                                type="text"
                                id="currentTime"
                                name="currentTime"
                                readonly />
                        </div>
                    </div>
                </div>

                <div class="control-buttons-container">
                    <button
                        type="submit"
                        class="exit-form-control-btn accented"
                        style="margin: 0; padding: 10px 20px; height:fit-content; width: fit-content;">
                        Mark Present
                    </button>
                </div>
            </div>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const dropdown = document.querySelector(".dropdown");
                const inputID = document.getElementById("driverNo");
                const inputName = document.getElementById("driverName");
                const dropdownContent =
                    document.querySelector(".dropdown-content");
                const options = dropdownContent.querySelectorAll(".option");

                dropdown.addEventListener("click", function () {
                    dropdownContent.style.display =
                        dropdownContent.style.display === "block"
                            ? "none"
                            : "block";
                });

                function selectOption(driverNo) {
                    inputID.value = driverNo;
                    inputName.value = document.getElementById(
                        `driverName_${driverNo}`
                    ).value;
                    dropdownContent.style.display = "none";
                }

                window.selectOption = selectOption;

                document.addEventListener("click", function (event) {
                    if (
                        !dropdown.contains(event.target) &&
                        dropdownContent.style.display === "block"
                    ) {
                        dropdownContent.style.display = "none";
                    }
                });

                // Function to filter dropdown options based on input
                window.filterDropdown = function () {
                    const filter = inputID.value.toUpperCase();
                    let count = 0;
                    options.forEach((option) => {
                        const textValue =
                            option.textContent || option.innerText;
                        if (textValue.toUpperCase().indexOf(filter) > -1) {
                            option.style.display = "";
                            count++;
                        } else {
                            option.style.display = "none";
                        }
                    });

                    dropdownContent.style.display =
                        count > 0 ? "block" : "none";
                };
            });

            function updateTime() {
                const now = new Date();
                document.getElementById("currentTime").value =
                    now.toLocaleTimeString();
            }
            setInterval(updateTime, 1000);
        </script>

        {% endblock %}
    </body>
</html>
