<nav class="sidebar" id="sideMenu">
    <div class="nav-upper">
        <div class="nav-logo-container">
            <a href="{{ url_for('dashboard') }}">
                <!-- <img class="nav-logo-image" src="{{ url_for('static', filename='logo.png') }}" alt="Dayartne Holdings Logo"> -->
                <div class="logo-on-bg"></div>
            </a>
            <button type="button" class="sidebar-close-btn" id="sidebarCloseBtn" title="Close Sidebar" onclick="closeSideMenu()">
                <i class="ph-bold ph-x"></i>
            </button>
        </div>
        <ul class="nav-list">
            <!-- Visitor Management Dropdown -->
            {% if user_permissions.Edit_Visitor or user_permissions.Approve_Visitor or user_permissions.In_Visitor or user_permissions.Out_Visitor or user_permissions.Create_Visitor %}
            <li class="nav-dropdown">
                <a class="dropdown-toggle" onclick="toggleDropdown('visitor-management-dropdown')">
                    <span class="main-nav-link-header" style="pointer-events: none;">
                        <span class="nav-icon">
                            <i class="ph-bold ph-person"></i>
                        </span>
                        <span class="nav-link-text">Visitor Manage</span>
                    </span>
                    <i class="ph-bold ph-caret-down" style="pointer-events: none;"></i>
                </a>
                <ul id="visitor-management-dropdown" class="dropdown-menu">
                    {% if user_permissions.Create_Visitor %}
                    <li>
                        <a href="{{ url_for('new_visitor') }}">
                            <span class="nav-icon">
                                <i class="ph-bold ph-plus-circle"></i>
                            </span>
                            <span class="nav-link-text">New Visitor</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Edit_Visitor %}
                    <li>
                        <a onclick="togglePopup('editVisitorRequest')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-pencil-simple"></i>
                            </span>
                            <span class="nav-link-text">Edit Visitor</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Approve_Visitor %}
                    <li>
                        <a onclick="togglePopup('pendingApproval')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-paper-plane-tilt"></i>
                            </span>
                            <span class="nav-link-text">Approve Visitor</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.In_Visitor %}
                    <li>
                        <a onclick="togglePopup('ApprovedVisitors')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-arrow-circle-right"></i>
                            </span>
                            <span class="nav-link-text">Arrive Visitor</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Out_Visitor %}
                    <li>
                        <a onclick="togglePopup('arrivedVisitors')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="nav-link-text">Depart Visitor</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Create_Visitor %}
                    <li>
                        <a onclick="togglePopup('visitorsList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-person"></i>
                            </span>
                            <span class="nav-link-text">Recent Visitors</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
    
            <!-- Gate Pass Management Dropdown -->
            {% if user_permissions.Create_Gate_Pass or user_permissions.Edit_Gate_Pass or user_permissions.Approve_Gate_Pass or user_permissions.Confirmed_Gate_Pass or user_permissions.Out_Gate_Pass or user_permissions.In_Gate_Pass %}
            <li class="nav-dropdown">
                <a class="dropdown-toggle" onclick="toggleDropdown('gate-pass-dropdown')">
                    <span class="main-nav-link-header" style="pointer-events: none;">
                        <span class="nav-icon">
                            <i class="ph-bold ph-door-open"></i> 
                        </span>
                        <span class="nav-link-text">Gate Pass Manage</span>
                    </span>
                    <i class="ph-bold ph-caret-down" style="pointer-events: none;"></i>
                </a>
                <ul id="gate-pass-dropdown" class="dropdown-menu">
                    {% if user_permissions.Create_Gate_Pass %}
                    <li>
                        <a href="{{ url_for('gate_pass') }}">
                            <span class="nav-icon">
                                <i class="ph-bold ph-plus-circle"></i>
                            </span>
                            <span class="nav-link-text">Create Gate Pass</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Edit_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('editGatePassList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-pencil"></i>
                            </span>
                            <span class="nav-link-text">Edit Gate Pass</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Approve_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('requestGatePassList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-warning-circle"></i>
                            </span>
                            <span class="nav-link-text">Approve Gate Pass</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Confirmed_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('approvedGatePassList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="nav-link-text">Confirm Gate Pass</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Out_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('confirmedGatePassList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-arrow-circle-right"></i>
                            </span>
                            <span class="nav-link-text">Gate Pass Out</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.In_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('departedGatePassList')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-arrow-circle-left"></i>
                            </span>
                            <span class="nav-link-text">Gate Pass In</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user_permissions.Create_Gate_Pass %}
                    <li>
                        <a onclick="togglePopup('gatePassForms')">
                            <span class="nav-icon">
                                <i class="ph-bold ph-door-open"></i>
                            </span>
                            <span class="nav-link-text">Recent Gate Passes</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
    
            <!-- <li>
                <a href="{{ url_for('change_password') }}">
                    <span class="main-nav-link-header">
                        <i class="ph ph-password"></i> Change Password
                    </span>
                </a>
            </li> -->
            {% if user_permissions.Create_User %}
            <li>
                <a href="{{ url_for('all_users') }}">
                    <span class="main-nav-link-header">
                        <span class="nav-icon">
                            <i class="ph-bold ph-user"></i>
                        </span>
                        <span class="nav-link-text">User Manage</span>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if user_permissions.Create_User %}
            <li>
                <a href="{{ url_for('all_employees') }}">
                    <span class="main-nav-link-header">
                        <span class="nav-icon">
                            <i class="ph-bold ph-identification-badge"></i>
                        </span>
                        <span class="nav-link-text">Employee Manage</span>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if user_permissions.Create_Reports %}
            <li>
                <a onclick="togglePopup('reportButtons')" style="cursor: pointer;">
                    <span class="main-nav-link-header">
                        <span class="nav-icon">
                            <i class="ph-bold ph-scroll"></i>
                        </span>
                        <span class="nav-link-text">Reports</span>
                    </span>
                </a>
            </li>
            {% endif %}
            <li style="display: none;" class="profileLinkOnSide">
                <a href="{{ url_for('change_password') }}" id="changePasswordLink">
                    <span class="main-nav-link-header">
                        <span class="nav-icon">
                            <i class="ph-bold ph-password"></i>
                        </span>
                        <span class="nav-link-text">Change Password</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav-list">
        <li>
            <a href="{{url_for('help')}}">
                <span class="main-nav-link-header">
                    <span class="nav-icon">
                        <i class="ph-bold ph-question-mark"></i>
                    </span>
                    <span class="nav-link-text">Help
                </span>
            </a>
        </li>
        <li>
            <a href="{{url_for('logout')}}">
                <span class="main-nav-link-header">
                    <span class="nav-icon">
                        <i class="ph-bold ph-sign-out"></i>
                    </span>
                    <span class="nav-link-text">logout
                </span>
            </a>
        </li>
    </ul>
</nav>
