<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.png') }}"
            type="image/x-icon" />
        <title>Gate Pass Form</title>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    </head>

    <body class="gatePassPage">
        {% extends 'base.html' %} {% block content %}
        <h1 class="gate-pass-title">Exit Permit</h1>
        <form
            action="{{ url_for('in_drivergatepass', driverGatePassId=driverGatePassForm.driverGatePassId) }}"
            method="POST"
            class="gate-pass-form"
            enctype="multipart/form-data">
            <div class="main-form-container">
                <div class="bottom-employee-datails">
                    <div class="name-id gate-pass-detail-block">
                        <div class="employee-id gate-pass-input-container">
                            <label for="driverNo">Driver ID</label>
                            <div class="dropdown">
                                <input
                                    type="text"
                                    id="driverNo"
                                    name="driverNo"
                                    title="Driver ID"
                                    class="monospaced"
                                    value="{{ driverGatePassForm.driverNo }}"
                                    readonly />
                            </div>
                        </div>
                        <div class="employee-name gate-pass-input-container">
                            <label for="driverName">Driver Name</label>
                            <input
                                type="text"
                                id="driverName"
                                name="driverName"
                                title="Driver name"
                                value="{{ driverGatePassForm.driverName }}"
                                readonly />
                        </div>
                    </div>
                    <div
                        class="time-period gate-pass-detail-block"
                        style="display: none">
                        <div
                            class="employee-departing-time gate-pass-input-container">
                            <label for="driverDepartingTime"
                                >Departing Time</label
                            >
                            <input
                                type="time"
                                id="driverDepartingTime"
                                name="driverDepartingTime"
                                title="Driver daparting time"
                                class="monospaced"
                                value="{{ driverGatePassForm.driverDepartingTime }}"
                                readonly />
                        </div>
                        <div
                            class="employee-arrival-time gate-pass-input-container">
                            <label for="driverArrivalTime">Arrival Time</label>
                            <input
                                type="time"
                                id="driverArrivalTime"
                                name="driverArrivalTime"
                                title="Driver time"
                                class="monospaced"
                                value="{{ driverGatePassForm.driverArrivalTime }}"
                                readonly />
                        </div>
                    </div>
                    <div class="date-vehicle gate-pass-detail-block">
                        <div
                            class="employee-departing-date gate-pass-input-container">
                            <label for="driverDepartingDate">Date</label>
                            <input
                                type="date"
                                id="driverDepartingDate"
                                name="driverDepartingDate"
                                title="Driver departing date"
                                class="monospaced"
                                value="{{ driverGatePassForm.driverDepartingDate }}"
                                readonly />
                        </div>
                        <div
                            class="employee-vehicle-no gate-pass-input-container">
                            <label for="driverVehicleNo">Vehicle Number</label>
                            <input
                                type="text"
                                id="driverVehicleNo"
                                name="driverVehicleNo"
                                title="Driver vehicle number"
                                class="monospaced"
                                value="{{ driverGatePassForm.driverVehicleNo }}"
                                readonly />
                        </div>
                    </div>
                    <div class="departing-reason gate-pass-detail-block">
                        <div
                            class="employee-departing-reason gate-pass-input-container">
                            <label for="driverDepartingReason">Reason</label>
                            <input
                                type="text"
                                id="driverDepartingReason"
                                name="driverDepartingReason"
                                title="Departing reason"
                                value="{{ driverGatePassForm.driverDepartingReason }}"
                                readonly />
                        </div>
                    </div>
                    <div class="departing-remark gate-pass-detail-block">
                        <div
                            class="employee-departing-remark gate-pass-input-container">
                            <label for="driverDepartingRemark">Remark</label>
                            <input
                                type="text"
                                id="driverDepartingRemark"
                                name="driverDepartingRemark"
                                title="Departing remark"
                                value="{{ driverGatePassForm.driverDepartingRemark }}"
                                readonly />
                        </div>
                    </div>
                </div>
                <div class="control-buttons-container">
                    <div class="driver-pass-footer-container">
                        <div class="employee-status gate-pass-input-container">
                            <label for="driver-status">Status</label>
                            <input
                                type="text"
                                id="driverStatus"
                                name="driver-status"
                                title="Status"
                                value="{{ driverGatePassForm.driverFormStatus }}"
                                readonly />
                        </div>
                        <div
                            class="employee-in-meter gate-pass-input-container">
                            <label for="driverInMeter">In Meter</label>
                            <input
                                type="number"
                                id="driverInMeter"
                                name="driverInMeter"
                                class="monospaced"
                                title="kms on vehicle meter on arrive"
                                placeholder="0"
                                required />
                            <span class="suffix">km</span>
                        </div>
                    </div>
                    <div class="button-container">
                        <input
                            type="hidden"
                            name="driverGatePassId"
                            value="{{ driverGatePassForm.driverGatePassId }}" />
                        {% if status == 'Requested' %}
                        <a href="{{ url_for('dashboard') }}"
                            ><button
                                type="button"
                                class="exit-form-control-btn"
                                title="cancel"
                                id="cancelExitForm-confirm">
                                Cancel
                            </button></a
                        >
                        <a href="{{ url_for('dashboard') }}"
                            ><button
                                type="submit"
                                class="exit-form-control-btn accented"
                                title="out"
                                name="changeStatus"
                                value="Out">
                                Out
                            </button></a
                        >
                        {% elif status == 'Out' %}
                        <a href="{{ url_for('dashboard') }}"
                            ><button
                                type="button"
                                class="exit-form-control-btn"
                                title="cancel"
                                id="cancelExitForm-depart">
                                Cancel
                            </button></a
                        >
                        <a href="{{ url_for('dashboard') }}"
                            ><button
                                type="submit"
                                class="exit-form-control-btn accented"
                                title="in"
                                name="changeStatus"
                                value="In">
                                In
                            </button></a
                        >
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>
